html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	}
body {
	line-height: 1;
	}
ol, ul {
	list-style: none;
	}
blockquote, q {
	quotes: none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
@font-face {
    font-family: 'darker_grotesqueregular';
    src: url('../font/darkergrotesque-regular-webfont.eot');
    src: url('../font/darkergrotesque-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/darkergrotesque-regular-webfont.woff2') format('woff2'),
         url('../font/darkergrotesque-regular-webfont.woff') format('woff'),
         url('../font/darkergrotesque-regular-webfont.ttf') format('truetype'),
         url('../font/darkergrotesque-regular-webfont.svg#darker_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'darker_grotesquelight';
    src: url('../font/darkergrotesque-light-webfont.eot');
    src: url('../font/darkergrotesque-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/darkergrotesque-light-webfont.woff2') format('woff2'),
         url('../font/darkergrotesque-light-webfont.woff') format('woff'),
         url('../font/darkergrotesque-light-webfont.ttf') format('truetype'),
         url('../font/darkergrotesque-light-webfont.svg#darker_grotesquelight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'darker_grotesquesemibold';
    src: url('../font/darkergrotesque-semibold-webfont.eot');
    src: url('../font/darkergrotesque-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/darkergrotesque-semibold-webfont.woff2') format('woff2'),
         url('../font/darkergrotesque-semibold-webfont.woff') format('woff'),
         url('../font/darkergrotesque-semibold-webfont.ttf') format('truetype'),
         url('../font/darkergrotesque-semibold-webfont.svg#darker_grotesquesemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'exolight';
    src: url('../font/exo-light-webfont.eot');
    src: url('../font/exo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/exo-light-webfont.woff2') format('woff2'),
         url('../font/exo-light-webfont.woff') format('woff'),
         url('../font/exo-light-webfont.ttf') format('truetype'),
         url('../font/exo-light-webfont.svg#exolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cormorant';
    src: local('Cormorant Light'), local('Cormorant-Light'), 
		url('../font/Cormorantlight.woff2') format('woff2'), 
		url('../font/Cormorantlight.woff') format('woff'), 
		url('../font/Cormorantlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img{
	border:none;
}

html,body {
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #000000 0%, #101010 100%);
	font-family: 'darker_grotesqueregular';
	color:#fff;
	font-weight:normal;
	font-size:12px;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body{
	overflow:hidden;
}
input, textarea ,button{outline:none;font-family: 'darker_grotesqueregular';}
input:active, textarea:active,button:active {outline:none;}
a{
	text-decoration:none;
	font-size:12px;
	font-family: 'darker_grotesqueregular';
	outline:none;
}
a:focus, a:hover {
    text-decoration: none;
	outline:none;
}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
.flex{
	-webkit-display:flex;
	-moz-display:flex;
	display:flex;
}
.wrapper{
	min-width:1256px;
	width:100%;
}
.wrapper__main{
	width:1256px;
	margin:0 auto;
	-moz-transition: all 1s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0.5s;
	-webkit-transition-timing-function: ease;
	opacity:0;
}
input[aria-invalid="false"]{
	background:#000;
}
.empty{
	top:0;
	position:fixed;
	width:100%;
	height:86px;
	background: linear-gradient(90deg, #000000 0%, #101010 100%);
	z-index: 30;
}
.empty2{
	height:46px;
	top:134px;
	z-index: 10;
}
.top{
	top:86px;
	position:fixed;
	width:100%;
	z-index:20;
}
.top__fixed{
	height:48px;
	border-radius:8px;
	
}
.top__fixed_filter{
	align-items:center;
	background: #1a1a1a;
    left: calc(100vw - 800px);
	width:500px;
    position: absolute;
    height: 100%;
	-moz-transition: all 1s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease;
}
.top__fixed_filter-flex{
	display:flex;
	align-items:center;
	height: 100%;
	opacity:0;
	-moz-transition: all 1s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 1s;
	-webkit-transition-timing-function: ease;
}
.top__models .top__fixed_filter-flex{
	opacity:1;
}
.top__fixed_filter-text{
	font-size:18px;
	color:#8a8a8a;
	height: 100%;
    display: none;
	opacity:0;
    align-items: center;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	width: calc((100vw - 1256px)/2 + 44px);
    position: relative;
	justify-content: flex-end;
}
.top__fixed_filter-select{
	margin-right:9px;
}
.jq-selectbox{
	vertical-align: middle;
	cursor: pointer;
	position:relative;
}
.jq-selectbox__select{
	height: 32px;
	padding: 0 15px 0 10px;
	border-radius: 6px;
	color: #8A8A8A;
	font-size:18px;
	position:relative;
	background:#000;
	z-index:50;
}
.jq-selectbox__select::before{
	content:'';
	position:absolute;
	width:100%;
	height:8px;
	top:-8px;
	left:0;
	background:#1a1a1a;
}
.jq-selectbox__select1{
	width:70px;
}
.jq-selectbox__select2{
	width:80px;
}
.jq-selectbox__select3{
	width:90px;
}
.jq-selectbox__select-text {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height:100%;
	line-height:32px;
} 
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width:15px;
	height: 100%;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 14px;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 3px solid #8A8A8A;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
}
.jq-selectbox__dropdown {
	top: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-radius:0 0 6px 6px;
	position:absolute;
	left:0;
	background: #1A1A1A;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.jq-selectbox__dropdown1{
	width:70px;
	top:-70px;
}
.jq-selectbox__dropdown2{
	width:80px;
	top:-50px;
}
.jq-selectbox__dropdown3{
	width:90px;
	top:-70px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	min-height: 18px;
	padding: 5px 8px 6px;
	font-size: 18px;
	line-height: 24px;
	color: #8A8A8A;
}
.jq-selectbox__dropdown1-active.jq-selectbox__dropdown,
.jq-selectbox__dropdown2-active.jq-selectbox__dropdown,
.jq-selectbox__dropdown3-active.jq-selectbox__dropdown{
	top:32px;
}
.top__fixed_filter-search{
	position:relative;
	align-items:center;
}
.top__fixed_filter-search--input{
	width:96px;
	height:18px;
	background:#fff;
	padding:0 5px;
	color: #8A8A8A;
	border:none;
	border-radius: 2px;
}
.top__fixed_filter-search--button{
	margin-left:10px;
	border:none;
	background:none;
	cursor:pointer;
}
.top__fixed_filter-search--input::-webkit-input-placeholder {color:#8A8A8A;}
.top__fixed_filter-search--input::-moz-placeholder          {color:#8A8A8A;}
.top__fixed_filter-search--input:-moz-placeholder           {color:#8A8A8A;}
.top__fixed_filter-search--input:-ms-input-placeholder      {color:#8A8A8A;}
.top__fixed_filter-search--input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.top__fixed_filter-search--input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.top__fixed_filter-search--input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.top__fixed_filter-search--input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.top__fixed_menu{
	padding-right:60px;
	background:#1A1A1A;
	border-radius:8px 0 0 8px;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	z-index:100;
	position: absolute;
    height: 100%;
    left: calc(100vw - 810px);
	width: 810px;
}
.top__fixed_menu-list{
	align-items:center;
	height:100%;
	padding:0 30px 0 26px;
}
.top__fixed_menu-list li{
	font-size: 18px;
	color:#8a8a8a;
	margin-right:158px;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	position: relative;
    top:0px;
}
.top__fixed_menu-list li:hover{
	cursor:pointer;
}
.top__fixed_menu-list li:last-child{
	margin-right:0;
}
.top__fixed_filter-box{
	display:none;
}
.top__models .top__fixed_menu-list li.tab__menu_activ{
	font-size: 50px;
	color:#fff;
	font-family: 'darker_grotesquelight';
	position: relative;
    top: -5px;
}
.top__models .top__fixed_filter{
	left:0;
	width:calc(100vw - 800px);
}
.top__models.top__display_filter .top__fixed_filter-text {
    z-index: 50;
    background: #1a1a1a;
	opacity:1;
	display:flex;
}
.top__models .top__fixed_filter-text:hover{
	color:#fff;
	cursor:pointer;
}
.top__models .top__fixed_filter-text:hover span{
	color:#fff;
	cursor:pointer;
}
.top__models .top__fixed_menu-list li{
	margin-right:132px;
}
.top__models .top__fixed_menu-list li:last-child{
	margin-right:0;
}
.top__models .top__fixed_menu{
	width:auto;
	background:#1a1a1a;
	padding-right:0;
	border-radius:0 8px 8px 0;
}
.top__models.top {
    padding-right:94px;
}
.top__models.top__display_filter .top__fixed_filter-box{
	position:relative;
	display:block;
	opacity:0;
	left: -390px;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0.5s;
	-webkit-transition-timing-function: ease;
}
.top__fixed_filter-flex--active .top__fixed_filter-text{
	color:#fff;
}
.top__models .top__fixed_filter-flex--active .top__fixed_filter-text span{
	opacity:0;
}
.top__models .top__fixed_filter-flex--active .top__fixed_filter-box{
	left: 0;
	opacity:1;
}
.main__image{
	position:fixed;
	top:10px;
	left:calc((100vw - 1256px)/2);
	height:calc(100vh - 20px);
	width:auto;
	-moz-transition: all 0.8s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.8s;
	-webkit-transition-timing-function: ease;
	z-index:40;
	border-radius: 20px;
}
.top__models ~ .main__image,
.top__about ~ .main__image{
	left:-50vw;
}
.main{
	padding-top:180px;
}
.first__block_main{
	justify-content:flex-end;
	opacity:1;
}
.inherit{
	position:relative;
}
.inherit__main{
	display:flex;
	justify-content:space-between;
	opacity:1;
}
.inherit__right{
	width:50%;
	position:relative;
	height:calc(100vh - 180px);
}
.inherit__right_article{
	position:absolute;
	color: #8A8A8A;
	font-size: 14px;
	line-height: 19px;
	display:none;
}
.inherit__right_article:nth-child(1){
	top: 70%;
	left:30%;
}
.inherit__right_article:nth-child(2){
	top: 30%;
	left:40%;
}
.inherit__right_article:nth-child(3){
	top: 60%;
	right:0;
}
.inherit__right_article:nth-child(4){
	top: 50%;
	left:0;
	display:block;
}
.inherit__right_block h2{
	position:absolute;
	font-family: 'Cormorant';
	font-weight: 300;
	font-size: 30px;
	line-height: 36px;
	bottom:10%;
	left:0;
}
.inherit__models{
	justify-content:space-between;
	flex-wrap:wrap;
	display:flex;
	overflow:auto;
	height:calc(100vh - 180px);
	width:396px;
	-moz-transition: all 1s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0.5s;
	-webkit-transition-timing-function: ease;
	opacity:0;
}
.top__models ~ .openview1 .inherit__models{
	opacity:1;
}
.inherit__models:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.inherit__models::-webkit-scrollbar {
	-webkit-appearance: none;
	width:1px;
}
.inherit__models::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #000;
}
.inherit__models li{
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	width:122px;
	height:160px;
	margin-bottom:32px;
	position:relative;
	border:1px solid transparent;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.inherit__models li.inherit__models_list-activ{
	-moz-border-image: -moz-linear-gradient(top, #0074B5 0%, #00B5B5 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #0074B5 0%, #00B5B5 100%);
    border-image: linear-gradient(to bottom, #0074B5 0%, #00B5B5 100%);
    border-image-slice: 1;
}
.inherit__models_image{
	width:104%;
	height:auto;
}
.inherit__models.inherit__models_active{
	opacity:1;
}
.inherit__models_info{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0);
	-moz-transition: all 0.8s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.inherit__models_info-image{
	position:absolute;
	top:5px;
	right:5px;
	opacity:0;
	-moz-transition: all 0.8s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.8s;
	-webkit-transition-delay: 0.1s;
	-webkit-transition-timing-function: ease;
}
.inherit__models_info-block{
	display:flex;
	flex-direction:column;
	font-size: 12px;
	line-height: 20px;
	text-align:center;
	width:100%;
	height:100%;
	color:#fff;
	justify-content: flex-end;
	padding-bottom:18px;
	position: absolute;
    top: 100%;
	left:0;
	-moz-transition: all 0.8s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.8s;
	-webkit-transition-delay: 0.1s;
	-webkit-transition-timing-function: ease;
}
.inherit__models li:hover .inherit__models_info-block{
	top:0;
}
.inherit__models li:hover .inherit__models_info{
	background:rgba(0,0,0,.6);
	cursor:pointer;
}
.inherit__models li:hover .inherit__models_info-image{
	opacity:1;
}
.model__info{
	padding:20px 0;
	color:#fff;
}
.model__info_top-right{
	align-items:center;
	font-family: 'darker_grotesquelight';
}
.model__info_top-back{
	display:none;
}
.model__info_top-name{
	font-size: 30px;
}
.model__info_top-new{
	font-size: 12px;
	text-transform:uppercase;
	margin:0 16px;
	position:relative;
	top:7px;
}
.model__steck{
	align-items:center;
	font-size: 14px;
	line-height: 19px;
	padding-top:5px;
}
.model__steck_list{
	margin-right:40px;
}
.model__steck_list li{
	margin-bottom:5px;
}
.model__steck_list li:last-child{
	margin-bottom:0;
}
.model__steck_book p{
	margin-bottom:10px;
}
.model__steck_book-booker{
	color: #8A8A8A;
}
.model__steck_book-button{
	width: 108px;
	height: 26px; 
	background: 
		linear-gradient(#000,#000) padding-box,
		linear-gradient(to right, #0074B5, #00B5B5) border-box;
    border: 1px solid transparent;
    border-radius:4px;
    display:inline-block;
	text-align:center;
	line-height:22px;
	-moz-transition: all 1s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0.5s;
	-webkit-transition-timing-function: ease;
}
.model__steck_book-button:hover{
	cursor:pointer;
	background:linear-gradient(to right, #0074B5, #00B5B5) border-box;
	border: 1px solid transparent;
}
.model__steck_social{
	margin:0 40px;
	text-align:center;
}
.model__steck_social p{
	margin-bottom:12px;
}
.model__steck_social div{
	align-items:center;
	justify-content:space-around;
}
.model__steck_social-icon{
	display:block;
	width:22px;
	height:22px;
	-moz-transition: all .5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease;
}
.model__steck_social-icon--insta{
	background:url(../images/insta.png) no-repeat center;
}
.model__steck_social-icon--fb{
	background:url(../images/fb.png) no-repeat center;
}
.model__steck_social-icon--tiktok{
	background:url(../images/tik.png) no-repeat center;
}
.model__steck_social-icon--insta:hover{
	background:url(../images/insta_hover.png) no-repeat center;
}
.model__steck_social-icon--fb:hover{
	background:url(../images/fb_hover.png) no-repeat center;
}
.model__steck_social-icon--tiktok:hover{
	background:url(../images/tik_hover.png) no-repeat center;
}
.model__steck_youtube{
	text-align:center;
}
.model__steck_youtube p{
	margin-bottom:12px;
}
.model__steck_youtube-button{
	display:inline-block;
	background:url(../images/youtube.png) no-repeat center;
	-moz-transition: all .5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease;
	width:29px;
	height:20px;
}
.model__steck_youtube-button:hover{
	background:url(../images/youtube_hover.png) no-repeat center;
	cursor:pointer;
}
.opendiv1,.opendiv2,.opendiv3,.opendiv4,.opendiv5,.opendiv6,
.opendiv7,.opendiv8,.opendiv9,.opendiv10,.opendiv11,.opendiv12{
	opacity:0;
	-moz-transition: all 1s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: .5s;
	-webkit-transition-timing-function: ease;
}
.inherit__right_block{
	height:100%;
	position:relative;
	z-index:10;
	height: calc(100vh - 180px);
    position: relative;
    z-index: 10;
}
.model{
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
.models__tab131{
	z-index:100;
}
.models__tab132{
	z-index:100;
	opacity:1 !important;
}
.chat{
	position:fixed;
	bottom:50px;
	right:50px;
	width:49px;
	height:49px;
	border: 1px solid #232323;
	border-radius:50%;
	background:url(../images/mail.png) no-repeat center;
	-moz-transition: all 1s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease;
	z-index:100;
}
.chat:hover{
	border: 1px solid #fff;
	background:url(../images/mail_hover.png) no-repeat center;
	cursor:pointer;
}
.about__main{
	justify-content:space-between;
}
.about__questions{
	width:400px;
}
.about__questions h3,
.about__questions h4{
	font-size: 30px;
	line-height: 41px;
	font-family: 'darker_grotesquesemibold';
	text-align:center;
	margin-bottom:20px;
}
.about__questions h4{
	margin-top:30px;
}
.about__questions_block li{
	margin-bottom:20px;
	position:relative;
}
.about__questions_block li:last-child{
	margin-bottom:0;
}
.about__questions_text{
	background: #1A1A1A;
	border-radius: 8px;
	font-size: 14px;
	line-height: 14px;
	color: #8A8A8A;
	padding:0 14px;
	height:40px;
	position:relative;
	cursor:pointer;
	z-index:10;
	display:flex;
	align-items:center;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.about__questions_text:hover{
	color:#fff;
}
.about__questions_close{
	position:absolute;
	top:50%;
	transform:translate(0, -50%);
	right:10px;
	width:14px;
	height:14px;
	background:url(../images/question-close.png) no-repeat center;
	opacity:0;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.about__questions_close:hover{
	background:url(../images/question-close-hover.png) no-repeat center;
}
.about__questions_answer{
	background: #232323;
	border-radius: 0px 0px 8px 8px;
	padding:10px 14px;
	font-size: 14px;
	line-height: 19px;
	color: #8A8A8A;
	-webkit-transition: max-height 0s linear;
    -moz-transition: max-height 0s linear;
    -o-transition: max-height 0s linear;
    transition: max-height 0.7s linear;
	display:none;
}
.about__questions_answer-bloger{
	color:#fff;
	cursor:pointer;
}
.about__questions{
	overflow:auto;
	height:calc(100vh - 180px);
	padding-bottom: 40px;
}
.about__questions:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.about__questions::-webkit-scrollbar {
	-webkit-appearance: none;
	width:1px;
}
.about__questions::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #000;
}
.quest_active .about__questions_text{
	color:#fff;
	border-radius: 8px 8px 0 0;
}
.quest_active .about__questions_close{
	opacity:1;
	cursor:pointer;
}
.about__block_right{
	width:830px;
	justify-content:space-between;
}
.about__contact h3{
	font-size: 30px;
	line-height: 41px;
	font-family: 'darker_grotesquesemibold';
	margin-bottom:20px;
	text-align:center;
}
.about__contact{
	width:400px;
	overflow:auto;
	height:calc(100vh - 180px);
	padding-bottom: 40px;
}
.about__contact:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.about__contact::-webkit-scrollbar {
	-webkit-appearance: none;
	width:1px;
}
.about__contact::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #000;
}
.about__contacts_box{
	margin-bottom:30px;
}
.about__contacts_box:last-child{
	margin-bottom:0;
}
.about__contacts_box-karta{
	padding:14px 20px;
	background: #1A1A1A;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	position: relative;
    z-index: 10;
	border: 1px solid transparent;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.about__contacts_box-karta1.about__contacts_box-karta--active{
	background: linear-gradient(#1A1A1A,#1A1A1A) padding-box, linear-gradient(to right, #0074B5, #00B5B5) border-box;
	border: 1px solid transparent;
}
.about__contacts_face{
	width:20%;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.about__contacts_foto{
	width:68px;
	height:68px;
	border-radius:50%;
	overflow:hidden;
	justify-content:center;
	align-items:center;
}
.about__contacts_foto img{
	width:100%;
}
.about__contacts_name{
	font-size: 14px;
	line-height: 19px;
}
.about__contacts_info{
	width:60%;
	justify-content:center;
	flex-direction:column;
	align-items: center;
    justify-content: space-between;
}
.about__contacts_position{
	font-size: 18px;
	line-height: 24px;
}
.about__contacts_mobile{
	font-size: 14px;
	line-height: 19px;
}
.about__contacts_mobile-phone{
	font-size: 10px;
	line-height: 13px;
	color: #8A8A8A;
	font-family: 'exolight';
	cursor:pointer;
	background:none;
	border:none;
}
.about__contacts_mobile-phone:hover{
	color:#fff;
}
.about__contacts_email{
	font-size: 14px;
	line-height: 19px;
	color: #8A8A8A;
	cursor:pointer;
	background:none;
	border:none;
}
.about__contacts_email:hover{
	color:#fff;
}
.about__contacts_check{
	font-size: 14px;
	line-height: 19px;
	cursor:pointer;
	color: #8A8A8A;
}
.about__contacts_check:hover{
	color:#fff;
}
.about__contacts_sety{
	width:20%;
	flex-direction:column;
	align-items: center;
    justify-content: space-between;
	font-size: 14px;
	line-height: 19px;
}
.about__contacts_social{
	justify-content:space-around;
	width:100%;
}
.about__contacts_messenger{
	width:14px;
	height:14px;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.about__contacts_messenger-fb{
	background:url(../images/fb.png) no-repeat center;
	background-size:contain;
}
.about__contacts_messenger-insta{
	background:url(../images/insta.png) no-repeat center;
	background-size:contain;
}
.about__contacts_messenger-be{
	background:url(../images/be.png) no-repeat center;
	background-size:contain;
}
.about__contacts_messenger-fb:hover{
	background:url(../images/fb_hover.png) no-repeat center;
	background-size:contain;
}
.about__contacts_messenger-insta:hover{
	background:url(../images/insta_hover.png) no-repeat center;
	background-size:contain;
}
.about__contacts_messenger-be:hover{
	background:url(../images/be_hover.png) no-repeat center;
	background-size:contain;
}
.about__contacts_models{
	padding:20px 16px 10px;
	background: #232323;
	border-radius: 0px 0px 8px 8px;
	-webkit-transition: max-height 0s linear;
    -moz-transition: max-height 0s linear;
    -o-transition: max-height 0s linear;
    transition: max-height 0.7s linear;
	display:none;
	position: relative;
    top: -10px;
}
.about__contacts_models-block{
	flex-wrap:wrap;
}
.contacts__list_model{
	width:70px;
	height:70px;
	border-radius:50%;
	overflow:hidden;
	justify-content:center;
	align-items:center;
	margin:10px 10px;
	position:relative;
}
.contacts__list_model img{
	width:100%;
}
.contacts__list_model-name{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	font-size: 14px;
	display:flex;
	justify-content:center;
	align-items:center;
	background:rgba(0,0,0,.6);
	opacity:0;
	-moz-transition: all 0.8s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.8s;
	-webkit-transition-delay: 0.3s;
	-webkit-transition-timing-function: ease;
}
.contacts__list_model:hover .contacts__list_model-name{
	opacity:1;
	cursor:pointer;
}
.general h3,
.general h4{
	font-size: 30px;
	line-height: 41px;
	font-family: 'darker_grotesquesemibold';
	margin-bottom:20px;
	text-align:center;
}
.general h4{
	margin-top:30px;
}
.general{
	width:400px;
	overflow:auto;
	height:calc(100vh - 180px);
	padding-bottom: 40px;
}
.general:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.general::-webkit-scrollbar {
	-webkit-appearance: none;
	width:1px;
}
.general::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #000;
}
.general__block{
	padding:10px;
	background: #1a1a1a;
	border-radius: 8px;
	font-size: 14px;
	line-height: 19px;
	color: #fff;
}
.general__block .about__questions_answer-bloger{
	color:#8a8a8a;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.general__block .about__questions_answer-bloger:hover{
	color:#fff;
}
.general__social{
	width:190px;
	justify-content:space-between;
	align-items:center;
	margin:0 auto;
}
.general__social_messenger{
	width:22px;
	height:22px;
	display:block;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.general__social_messenger-fb{
	background:url(../images/fb.png) no-repeat center;
	background-size:contain;
}
.general__social_messenger-insta{
	background:url(../images/insta.png) no-repeat center;
	background-size:contain;
}
.general__social_messenger-tik{
	background:url(../images/tik.png) no-repeat center;
	background-size:contain;
}
.general__social_messenger-youtube{
	background:url(../images/youtube.png) no-repeat center;
	background-size:contain;
	width:29px;
	height:20px;
}
.general__social_messenger-fb:hover{
	background:url(../images/fb_hover.png) no-repeat center;
	background-size:contain;
}
.general__social_messenger-insta:hover{
	background:url(../images/insta_hover.png) no-repeat center;
	background-size:contain;
}
.general__social_messenger-tik:hover{
	background:url(../images/tik_hover.png) no-repeat center;
	background-size:contain;
}
.general__social_messenger-youtube:hover{
	background:url(../images/youtube_hover.png) no-repeat center;
	background-size:contain;
}
.joinus__polaroids{
	width:100%;
	overflow:auto;
	height:calc(100vh - 180px);
	justify-content:space-between;
	align-items:flex-start;
	padding-bottom: 40px;
}
.joinus__polaroids:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.joinus__polaroids::-webkit-scrollbar {
	-webkit-appearance: none;
	width:1px;
	background-color:rgba(0,0,0,0);
}
.joinus__polaroids::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color:rgba(0,0,0,0);
}
.joinus__polaroids_views{
	width:930px;
}
.joinus__polaroids_views-view{
	justify-content:space-between;
}
.joinus__polaroids_views-view li{
	width:290px;
	cursor:pointer;
	position:relative;
	padding-bottom:40px;
}
.joinus__polaroids_views-foto{
	width:100%;
	height:400px;
	border-radius: 8px;
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
	z-index:10;
}
.joinus__polaroids_views-foto img{
	width:100%;
	position: relative;
    z-index: 10;
}
.joinus__polaroids_views-plus{
	position:absolute;
	width:50px;
	height:50px;
	transform:translate(-50%, -50%);
	top:50%;
	left:50%;
	z-index: 10;
}
.joinus__polaroids_views-plus div:nth-child(1){
	width:100%;
	height:1px;
	background: #C4C4C4;
	position:absolute;
	transform:translate(0, -50%);
	top:50%;
	left:0;
}
.joinus__polaroids_views-plus div:nth-child(2){
	width:1px;
	height:100%;
	background: #C4C4C4;
	position:absolute;
	transform:translate(-50%, 0);
	top:0;
	left:50%;
}
.joinus__polaroids_views-info{
	width:100%;
	padding-top:10px;
	height:34px;
	text-align:center;
	line-height:22px;
	color: #8A8A8A;
	font-size: 11px;
	background: #232323;
	border-radius:0 0 8px 8px;
	position:absolute;
	bottom:0;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.joinus__polaroids_views-foto:hover .joinus__polaroids_views-info{
	bottom:-24px;
}
.joinus__polaroids h2{
	font-size: 30px;
	line-height: 41px;
	font-family: 'darker_grotesquesemibold';
	margin-bottom:20px;
	text-align:center;
}
.joinus__polaroids_bottom{
	justify-content:space-between;
	padding:12px 0 18px;
	background: #1A1A1A;
	border-radius: 8px;
	pointer-events: none;
}
.joinus__polaroids_bottom-text{
	width:33%;
	padding:0 28px;
}
.joinus__polaroids_bottom-text p{
	text-align:center;
	font-size: 18px;
	line-height: 24px;
	color: #FFF;
	pointer-events: none;
}
.joinus__polaroids_bottom-text div{
	font-size: 14px;
	line-height: 19px;
	color: #8A8A8A;
}
.polaroids__right{
	padding-top:60px;
}
.polaroids__form{
	background: #1A1A1A;
	border-radius: 8px;
	width:290px;
	padding:24px 18px;
	position:relative;
	z-index: 10;
}
.polaroids__form_name{
	font-size: 18px;
	line-height: 24px;
	margin-bottom:6px;
	text-align:center;
}
.polaroids__form_input{
	padding:0 6px;
	height:20px;
	width:210px;
	font-size: 14px;
	color: #8A8A8A;
	background:none;
	border:none;
	border-bottom:1px solid #2E2E2E;
	margin-bottom:16px;
}
.polaroids__form_input::-webkit-input-placeholder {color:#8A8A8A;}
.polaroids__form_input::-moz-placeholder          {color:#8A8A8A;}
.polaroids__form_input:-moz-placeholder           {color:#8A8A8A;}
.polaroids__form_input:-ms-input-placeholder      {color:#8A8A8A;}
.polaroids__form_input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.polaroids__form_input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.polaroids__form_input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.polaroids__form_input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
.polaroids__form_block{
	justify-content:space-between;
}
.polaroids__form_input-mini{
	text-align:center;
}
.polaroids__form_input-mini.age{
	width:31px;
}
.polaroids__form_input-mini.tattoo{
	width:42px;
}
.polaroids__form_input-mini.level{
	width:73px;
}
.polaroids__form_input-mini.size{
	width:60px;
}
.polaroids__form_input-mini.height{
	width:43px;
}
.polaroids__form_input-mini.chest{
	width:40px;
}
.polaroids__form_input-mini.waist{
	width:38px;
}
.polaroids__form_input-mini.hips{
	width:33px;
}
.polaroids__form_input-mini.eyes{
	width:36px;
}
.polaroids__form_button{
	display:block;
	background: linear-gradient(#1A1A1A,#1A1A1A) padding-box, linear-gradient(to right, #0074B5, #00B5B5) border-box;
    border: 1px solid transparent;
    border-radius: 4px;
	width: 108px;
    height: 28px;
	-moz-transition: all 1s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0.5s;
    -webkit-transition-timing-function: ease;
	margin:4px auto 0;
	font-size: 14px;
	color:#fff;
	line-height:22px;
}
.polaroids__form_button:hover{
	cursor: pointer;
    background: linear-gradient(to right, #0074B5, #00B5B5) border-box;
    border: 1px solid transparent;
}
.polaroids__form_close{
	background: #232323;
	color: #8A8A8A;
	font-size: 15px;
	width:22px;
	height:22px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	position:absolute;
	top:24px;
	right:24px;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.polaroids__form_close:hover{
	cursor:pointer;
	color: #fff;
}
.openview2{
	display:none;
}
.openview3{
	display:none;
}
.openview4{
	display:none;
}
.openview5{
	display:none;
}
.main__models .wrapper__main{
	opacity:1;
}
.main__about .wrapper__main{
	opacity:1;
}
.main__blog .wrapper__main{
	opacity:1;
}
.main__join .wrapper__main{
	opacity:1;
}
.slider{
	width:100%;
	height: 444px;
}
.slider .slick-arrow{
	width:30px;
	height:100%;
	border:none;
	position:absolute;
	top:0;
	font-size:0;
	z-index:1;
	cursor:pointer;
}
.slider .slick-prev{
	left:0;
	background:url(../images/arrow_left.png) no-repeat 6px center, rgba(255,255,255,.5);
}
.slider .slick-next{
	right:0;
	background:url(../images/arrow_right.png) no-repeat 8px center, rgba(255,255,255,.5);
}
.slider .slick-slide div{
	height: 444px;
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
}
.slider .slick-slide div::before{
	position:absolute;
	content:'';
	background:rgba(0,0,0,0);
	width:100%;
	height:100%;
}
.slider .slick-active div{
	display:flex;
	justify-content:center;
	align-items:center;
}
.slick-initialized .slick-slide {
    margin: 0 20px !important;
	opacity:0.5;
	overflow: hidden;
}
.slick-initialized .slick-slide.slick-active {
	opacity:1;
}
.slider .slick-slide.slick-active div::before{
	position:absolute;
	content:'';
	background:rgba(0,0,0,0);
	width:100%;
	height:100%;
}

.inherit__right:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.inherit__right::-webkit-scrollbar {
	-webkit-appearance: none;
	width:0;
}
.inherit__right::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color:rgba(0,0,0,0);
}
.polaroids__form_error {
    background: linear-gradient(94.17deg, #0074B5 0.5%, #00B5B5 100%);
    border-radius: 0px 0px 8px 8px;
    padding: 22px 20px 16px;
    font-size: 14px;
	line-height: 19px;
    color: #fff;
    -webkit-transition: max-height 0s linear;
    -moz-transition: max-height 0s linear;
    -o-transition: max-height 0s linear;
    transition: max-height 0s linear;
    display: none;
	position:relative;
	top:-10px;
}
.polaroids__form_close-close{
	display:none;
}
.polaroids__form_close-close img{
	width:9px;
	height:9px;
}
.joinus__files_input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
	z-index:10;
}
.joinus__files_error{
	display:none;
}
.joinus__files_button{
	position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background: none;
}
body.main__blog_scroll{
	height: 100%;
	overflow:auto;
}
body.main__blog_scroll:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
body.main__blog_scroll::-webkit-scrollbar {
	-webkit-appearance: none;
	width:1px;
}
body.main__blog_scroll::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #000;
}
.blog__box{
	width:100%;
	overflow:auto;
	align-items:flex-end;
	padding-bottom: 40px;
}
.blog__box_img{
	width: 410px;
	height: 548px;
	align-items:flex-end;
}
.blog__box_img img{
	width:100%;
}
.blog__box_text{
	width: 184px;
	font-size: 11px;
	line-height: 15px;
	color: #8A8A8A;
	margin-left:16px;
}
.about__contacts_mobile-phone{
	position:relative;
}
.about__contacts_mobile-phone::before{
	width:100%;
	height:20px;
	content:'copied';
	position:absolute;
	top:-24px;
	background:#fff;
	color:#000;
	left:0;
	line-height:20px;
	border-radius:8px;
	display:none;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.about__contacts_mobile-phone--active::before{
	display:block;
}
.about__contacts_email{
	position:relative;
}
.about__contacts_email::before{
	width:100%;
	height:20px;
	content:'copied';
	position:absolute;
	top:-24px;
	background:#fff;
	color:#000;
	left:0;
	line-height:20px;
	border-radius:8px;
	display:none;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.about__contacts_email-active::before{
	display:block;
}
#jvlabelWrap{
    bottom: 50px !important;
    right: 50px  !important;
    width: 49px  !important;
    height: 49px  !important;
    border: 1px solid #232323  !important;
    border-radius: 50%  !important;
    background: url(https://i-borovkov.ru/cage/images/mail.png) no-repeat center  !important;
    -moz-transition: all 1s ease  !important;
    -webkit-transition-property: all  !important;
    -webkit-transition-duration: 1s  !important;
    -webkit-transition-timing-function: ease  !important;
    z-index: 100  !important;
	min-width: 49px !important;
	max-height:49px !important;
}
#jvlabelWrap:hover{
    border: 1px solid #ffffff  !important;
    background: url(https://i-borovkov.ru/cage/images/mail_hover.png) no-repeat center  !important;
}
.label_5981._bottom_d9d0 .text_cc9e, .label_5981._left_0e89 .text_cc9e, .label_5981._right_8fe1 .text_cc9e {
    margin: 0 !important;
    min-width: 49px !important;
    visibility: visible;
	font-size:0px !important;
}
.leaf_115e._bottom_1289, .leaf_115e._left_118a, .leaf_115e._right_f521 {
    display: none !important;
}
.logo_e50a {
    display: none !important;
}
.headerBox_a2ea {
    background: #232323 !important;
	border-radius: 8px 8px 0px 0px !important;
}
.pattern_0341{
	background-image:none !important;
}
.header_90d1 ._light_6375 .title_fe8f, .header_90d1._light_6375, .header_90d1._light_6375 .agentName_0cfd, .header_90d1._light_6375 .title_fe8f {
    color: #ffffff !important;
}
.avatar_b3c5,
.info_f77c{
	display:none !important;
}
.headerContainer_e31c {
    position: absolute !important;
    height: 100% !important;
    top: 0 !important;
}
.headerContainer_e31c::before{
	content:'Chat' !important;
	position:absolute !important;
	height:50px !important;
	top:50% !important;
	left:50% !important;
	transform:translate(-50%, -50%) !important;
	color:#ffffff !important;
	font-size: 30px !important;
	font-family: 'darker_grotesquesemibold' !important;
}
.closeButton_caff{
	opacity: 1 !important;
    left: -2px !important;
    position: absolute !important;
    z-index: 100 !important;
    top: 20px !important;
	opacity:1 !important;
}
.closeIcon_c499 {
	background-image:none !important;
	background:url(https://i-borovkov.ru/cage/images/chat-close.png) no-repeat center !important;
	opacity:1 !important;
}
.chatCopyright_5980 .text_123f,
.menuWrap_0278,
.emojiWrap_532e,
.chatCopyright_5980{
    display: none !important;
}
.tdTextarea_e8f3 .inputField_4112{
	color:#fff !important;
	font-size:18px !important;
	-webkit-text-fill-color: #fff!important;
}
.tdTextarea_e8f3 .inputField_4112::-webkit-input-placeholder {color:#fff !important;font-family: 'darker_grotesqueregular' !important;-webkit-text-fill-color: #fff!important;}
.tdTextarea_e8f3 .inputField_4112::-moz-placeholder          {color:#fff !important;font-family: 'darker_grotesqueregular' !important;-webkit-text-fill-color: #fff!important;}
.tdTextarea_e8f3 .inputField_4112:-moz-placeholder           {color:#fff !important;font-family: 'darker_grotesqueregular' !important;-webkit-text-fill-color: #fff!important;}
.tdTextarea_e8f3 .inputField_4112:-ms-input-placeholder      {color:#fff !important;font-family: 'darker_grotesqueregular' !important;-webkit-text-fill-color: #fff!important;}

#scrollbar-container,
.input_f93e{
	background: #1A1A1A !important; 
}
.iconAttach2_41bc{
	background-image:none !important;
	background:url(https://i-borovkov.ru/cage/images/clip.png) no-repeat center !important;
	width:32px !important;
	height:31px !important;
}
.wrap_90f8{
	width:32px !important;
	height:31px !important;
}
.wrap_90f8:hover{
	background-color:none !important;
	background:url(https://i-borovkov.ru/cage/images/clip.png) no-repeat center !important;
}
.input_2e3c {
    background: #1a1a1a !important;
    border-top: 1px solid #2e2e2e !important;
}
.sendButton_4ab7 {
    width: 26px !important;
	height: 26px !important;
    background: #232323 !important;
	border-radius: 4px !important;
	background-image:none !important;
	background:url(https://i-borovkov.ru/cage/images/arrow-up.png) no-repeat center, #232323 !important;
}
.main_8026.__agent_aff3 .message_1814._green_8fb4 .text_0d3b {
    color: #fff !important;
}
.main_8026.__agent_aff3 .message_1814._green_8fb4{
    color: #fff !important;
    border-radius: 12px!important;
    background-color: #2e2e2e !important;
}
.__client_9252 ._green_8fb4 {
    background-color: #2e2e2e !important;
}
.mainWrap_bd0e{
	background-color:#2e2e2e !important;
}
.textToForm_5abd {
    color: #fff !important;
    background-color: #1a1a1a !important;
}
.main_ede1.__green_b9b9 {
    box-shadow:none !important;
	background: #1a1a1a !important;
}
.fieldWrap_87a1 .inputField_d504.__inputChat_6433[type="name"],
.fieldWrap_87a1 .inputField_d504.__inputChat_6433[type="tel"],
.fieldWrap_87a1 .inputField_d504.__inputChat_6433[type="email"],
.fieldWrap_87a1 .inputField_d504.__inputChat_6433[type="name"]:focus,
.fieldWrap_87a1 .inputField_d504.__inputChat_6433[type="tel"]:focus,
.fieldWrap_87a1 .inputField_d504.__inputChat_6433[type="email"]:focus,
.fieldWrap_87a1 .inputField_d504.__inputChat_6433[type="name"]:hover,
.fieldWrap_87a1 .inputField_d504.__inputChat_6433[type="tel"]:hover,
.fieldWrap_87a1 .inputField_d504.__inputChat_6433[type="email"]:hover{
	color:#fff !important;
	background-color:#2e2e2e !important;
	-webkit-text-fill-color: #fff!important;
}
.button_9500{
    background-color: #2e2e2e !important;
}
.button_9500:hover {
    background-color: #2e2e2e !important;
}

.slider .slick-slide img {
    width:auto !important;
	height:100% !important;
}
.top__fixed_icon,
.model__info_article,
.blog__main h2{
	display:none;
}
.polaroids__select.level{
	width:73px;
}
.polaroids__select.level .jq-selectbox__select {
    height: 20px;
    padding: 0 4px;
    border-radius: 0;
    color: #8A8A8A;
    font-size: 14px;
    position: relative;
    background:none;
}
.jq-selectbox__dropdown4{
	display:none;
	width:73px;
	padding:0 4px;
	background: #303030;
	border-radius: 0px 0px 6px 6px;
	z-index: 50;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.jq-selectbox__dropdown4 li {
    min-height: 6px;
    padding: 4px 0;
    font-size: 14px;
    line-height: 14px;
    color: #8A8A8A;
	text-align:left;
}
.jq-selectbox__dropdown4 li:hover{
    color:#fff;
}
.jq-selectbox__select4{
	border-bottom: 1px solid #2E2E2E;
}
.jq-selectbox__select-text4{
    line-height: 20px;
}
.jq-selectbox__dropdown4.jq-selectbox__dropdown4-active{
	display:block;
}
.jq-selectbox__select-text4--active{
	position:relative;
}
.jq-selectbox__select-text4--active .jq-selectbox__select-text4{
	color:#fff;
}
.jq-selectbox__select-text4--active::before{
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0);
	z-index:100;
	left:0;
	cursor:initial;
}
.inherit__models_info-dimensions{
	font-family: 'exolight';
	font-size:10px;
}
.inherit__models_info-check{
	display:none;
}
.top,
.empty2,
.empty{
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.main__blog_scroll .top.main__blog_scroll2{
	top:0;
}
.main__blog_scroll .empty.main__blog_scroll1{
	top:-86px;
}
.main__blog_scroll .empty2.main__blog_scroll1{
	display:block;
	top: 48px;
	opacity:1;
}
.video__youtube{
	display:none;
	width:50%;
	height:80%;
	overflow:hidden;
	padding: 0;
}
.video__youtube frame{
	width:100%;
	height:100%;
}
/*------------------------adaptive-----------------------------*/
@media screen and (max-width:1266px){
	.wrapper__main {
		width: 100%;
		padding:0 2%;
	}
	.wrapper {
		min-width: 100%;
	}
.top__models .top__fixed_filter {
    padding-left:2%;
	width:50%;
	
}
.top__models.top {
    padding-right: 0;
}
.top__models .top__fixed_menu {
    left:auto;
	right:0;
	width:50%;
}
.inherit__models {
    width:396px;
}
.inherit__right {
    width:628px;
}
.top__models.top__display_filter .top__fixed_filter-text{
	width: 64px;
    padding-left: 20px;
}
.main__image{
	left:2%;
}
.top__fixed_menu-list li {
    margin-right:0;
}
.top__fixed_menu {
    left: auto;
    width: 50%;
    right: 0;
	padding-right:0;
}
.top__fixed_filter {
    left: auto;
    width: 50%;
	right:0;
	-moz-transition: all .5s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;
}
.top__fixed_menu-list {
    justify-content:space-between;
}
.top__models .top__fixed_menu-list li {
    margin-right: 0;
}
.about__questions{
    width: 49%;
}
.about__block_right{
    width: 49%;
	flex-direction: column-reverse;
	justify-content: flex-end;
}
.about__contact{
    width: 100%;
    height: calc((100vh - 180px)/2 - 20px);
	margin-bottom:20px;
}
.general{
    width: 100%;
    height: auto;
}
.joinus__polaroids {
    justify-content: space-between;
    flex-wrap:wrap;
}
.polaroids__form {
    width: 100%;
}
.joinus__polaroids_views {
    width: 100%;
	display:flex;
	flex-direction:column;
}
.joinus__polaroids_views-view{
	order:1;
}
.polaroids__right {
    padding-top: 40px;
    width: 100%;
}
.joinus__polaroids_views-info {
    height: 80px;
    font-size: 18px;
    line-height: 76px;
    bottom: -60px;
}
.joinus__polaroids_bottom {
    justify-content: center;
	align-items:center;
	flex-direction:column;
    padding: 30px 0 15px;
    background: none;
    border-radius: 0;
}
.joinus__polaroids_bottom-text {
    width:340px;
    padding: 0 14px;
	margin-bottom:15px;
	background:#1a1a1a;
}
.joinus__polaroids_bottom-text p,
.joinus__polaroids_bottom-text--names {
    text-align: left;
    height:48px;
    line-height: 48px;
   color: #8A8A8A;
   border-radius:8px;
}
.joinus__polaroids_bottom-text div,
.joinus__polaroids_bottom-text--contents{
    padding:0 0 10px;
	-webkit-transition: max-height 0s linear;
    -moz-transition: max-height 0s linear;
    -o-transition: max-height 0s linear;
    transition: max-height 0.7s linear;
	display:none;
}
.polaroids__form_main{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.polaroids__form_name{
	width:100%;
}
.polaroids__form_main-box{
	width:48%;
}
.polaroids__form_input-name,
.polaroids__form_input-placement,
.polaroids__form_input-nickname,
.polaroids__form_input-mail,
.polaroids__form_input-education,
.polaroids__form_input-hobbie{
	width:100%;
}
.polaroids__form_input-experience{
	width:100%;
}
.joinus__polaroids_views-foto:hover .joinus__polaroids_views-info{
	bottom:-60px;
}
.joinus__polaroids_bottom{
	pointer-events: visible;
}
.joinus__polaroids_bottom-text p{
	pointer-events: visible;
}
}
@media screen and (max-width:1080px){
.inherit__models {
    width: 100%;
    position: absolute;
    left: 0;
    padding: 0 2%;
    z-index: 100;
	background: linear-gradient(90deg, #000000 0%, #101010 100%);
	justify-content:center;
	height: calc(100vh - 94px);
}
.inherit__models li{
	margin:0 5px 32px;
}
.empty{
	display:none;
}
.main {
    padding-top:94px;
}
.top {
    top: 0;
}
.inherit__right {
    width: 100%;
	height: calc(100vh - 86px);
	background: #000;
}
.models__tab131 {
    background: #000;
}
.models__tab132 {
    background: #000;
}
.about__contact{
    width: 100%;
    height: calc((100vh - 94px)/2 - 20px);
	margin-bottom:20px;
}
.general{
    width: 100%;
   height: auto;
}
.about__questions {
    height: calc(100vh - 94px);
}
.blog__main{
	height: calc(100vh - 94px);
}
.joinus__polaroids {
    height: calc(100vh - 94px);
}
.joinus__polaroids_views-foto {
    height:340px;
}
.joinus__polaroids_views-view li {
    width: 240px;
}
}
@media screen and (max-width:980px){
.top__fixed_menu {
    left: 0;
    width: 100%;
    right: 0;
   bottom:0;
   position:fixed;
   height: 160px;
   z-index:100;
   border-radius:0;
}
.main__image {
    left: 50%;
    bottom: 160px;
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 1;
    top: auto;
    height: auto;
}
.top__fixed_filter {
    opacity: 0;
}
.top__models ~ .main__image, .top__about ~ .main__image {
    left: -100vw;
}
.top__fixed_filter {
    opacity: 0;
	width:100%;
	left:0;
}
.top__models .top__fixed_filter {
    display:none;
}
.main-models .top__models .top__fixed_filter {
    width: 100%;
	opacity: 1;
	padding-left:0;
	 display:block;
}
.top__models.top__display_filter .top__fixed_filter-text {
    padding-left:84px;
	width:116px;
}
.top__fixed_menu-list {
    justify-content: space-evenly;
	align-items:center;
}
.top__fixed_icon{
	height:50px;
	width:100%;
	display:block;
}
.top__fixed_icon-models{
	background:url(../images/models.png) no-repeat center;
}
.top__fixed_icon-about{
	background:url(../images/about.png) no-repeat center;
}
.top__fixed_icon-blog{
	background:url(../images/blog.png) no-repeat center;
}
.top__fixed_icon-join{
	background:url(../images/join.png) no-repeat center;
}
.tab__menu{
	width:94px;
}
.tab__menu span{
	display:none;
}
.top__models .top__fixed_menu {
    left: 0;
    right: 0;
    width: 100%;
}
.main {
    padding-top: 30px;
}
.main.main-models{
    padding-top: 80px;
}
.main.main-models.main-models-back{
    padding-top: 80px;
}
.inherit__models{
	z-index:10;
	height: calc(100vh - 160px - 78px);
	padding:0 84px;
	justify-content:space-between;
	padding-bottom:78px;
}
.inherit__models li {
    margin: 0 0 32px;
	width:32%;
	height: 33vw;
}
.inherit__right_block{
	display:none;
}
.top__models .top__fixed_menu-list li.tab__menu_activ{
	font-size:28px;
	top:0;
}
.top__models .top__fixed_menu-list li.tab__menu_activ span{
	display:block;
}
.top__fixed_menu-list li{
	text-align:center;
}
.inherit__right {
    height: calc(100vh - 160px - 94px - 72px);
    z-index:;
}
.slider {
    height: calc(100vh - 160px - 94px - 72px);
}
.main{
	background:#000;
}
.models__tab131 {
    z-index: 10;
}
.main__models .models__tab131 .model__info_top{
	position: fixed;
    top: 0;
    height: 64px;
    background: #1a1a1a;
    left: 0;
    width: 100%;
	display: flex;
	justify-content:space-between;
	z-index:1000;
}
.main__models .models__tab131 .model__info_top .model__info_top-back{
	display:flex;
	align-items:center;
	padding-left:70px;
}
.main__models .models__tab131 .model__info_top .model__info_top-back span{
	margin-left:10px;
	font-size: 28px;
	color:#fff;
}
.main__models .models__tab131 .model__info_top .model__info_top-right{
	padding-right:70px;
	width:calc(50vw + 28px);
	align-items:center;
	justify-content:space-between;
}
.main__models .models__tab131 .model__info_top .model__info_top-right .model__info_top-name {
    font-size: 40px;
}
.main__models .models__tab131 .model__info_top .model__info_top-right .model__info_top-new {
    font-size: 22px;
    margin: 0;
    top: 0;
	font-family: 'darker_grotesquelight';
}
.models__tab132 {
    z-index: 10;
}
.main__models .models__tab132 .model__info_top{
	position: fixed;
    top: 0;
    height: 64px;
    background: #1a1a1a;
    left: 0;
    width: 100%;
	display: flex;
	justify-content:space-between;
	z-index:1000;
}
.main__models .models__tab132 .model__info_top .model__info_top-back{
	display:flex;
	align-items:center;
	padding-left:70px;
}
.main__models .models__tab132 .model__info_top .model__info_top-back span{
	margin-left:10px;
	font-size: 28px;
	color:#fff;
}
.main__models .models__tab132 .model__info_top .model__info_top-right{
	padding-right:70px;
	width:calc(50vw + 28px);
	align-items:center;
	justify-content:space-between;
}
.main__models .models__tab132 .model__info_top .model__info_top-right .model__info_top-name {
    font-size: 40px;
}
.main__models .models__tab132 .model__info_top .model__info_top-right .model__info_top-new {
    font-size: 22px;
    margin: 0;
    top: 0;
	font-family: 'darker_grotesquelight';
}
.model__info_article{
	display:block;
	left:0;
	bottom:160px;
	height:72px;
	line-height:72px;
	text-align:center;
	width:100%;
	font-size: 35px;
	font-family: 'darker_grotesquelight';
	z-index:100;
}
.model__info{
	position:fixed;
	bottom:160px;
	left:0;
	width:100%;
	padding-top:0;
	background:#232323;
	-moz-transition: all .5s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;
	height:72px;
	z-index:100;
}
.model__info.model__info_active{
	bottom:160px;
	height:354px;
}
.model__steck {
    justify-content: center;
    flex-wrap: wrap;
}
.model__steck_social {
    width:100%;
    order: 1;
    margin: 0;
}
.model__steck_youtube {
	width:100%;
}
.model__steck_youtube{
	margin:35px 0;
}
.model__steck_youtube p,
.model__steck_social p{
    font-size:35px;
	font-family: 'darker_grotesquelight';
	margin-bottom:20px;
}
.model__steck_social div {
	justify-content:center;
}
.model__steck_social div .model__steck_social-icon{
	margin:0 10px;
}
.slider .slick-slide div {
    height: calc(100vh - 160px - 94px - 72px);
}
.about__contact{
    width: 100%;
    height:auto;
	margin-bottom:20px;
	overflow:initial;
}
.about__contact:hover{
	overflow-y: initial;
	overflow-x: initial;
}
.about__contact::-webkit-scrollbar {
	-webkit-appearance: none;
	width:0;
}
.general{
    width: 100%;
    height: auto;
	overflow:initial;
}
.general:hover{
	overflow-y: initial;
	overflow-x: initial;
}
.general::-webkit-scrollbar {
	-webkit-appearance: none;
	width:0;
}
.about__questions {
    height: auto;
    padding-bottom: 180px;
}
.blog__main{
	height: calc(100vh - 20px - 160px);
}
.chat {
    bottom: 170px;
	border:1px solid #fff;
}
.joinus__polaroids {
	height:auto;
	padding-bottom:180px;
}
.joinus__polaroids:hover {
    overflow-y: auto;
    overflow-x: initial;
}
.blog__main h2{
	display:block;
	font-size: 30px;
    line-height: 41px;
    font-family: 'darker_grotesquesemibold';
    text-align: center;
    margin-bottom: 20px;
}
.top__fixed {
    height: 64px;
    border-radius: 0;
}
.jq-selectbox__select::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 38px;
    top: -38px;
    left: 0;
    background: #1a1a1a;
}
.polaroids__select .jq-selectbox__select::before {
    display:none;
}
.model__steck_youtube-button{
    background: url(../images/youtube_hover.png) no-repeat center;
}
.model__steck_social-icon--insta{
    background: url(../images/insta_hover.png) no-repeat center;
}
.model__steck_social-icon--fb{
    background: url(../images/fb_hover.png) no-repeat center;
}
.model__steck_social-icon--tiktok{
    background: url(../images/tik_hover.png) no-repeat center;
}
.about__contacts_messenger-fb{
    background: url(../images/fb_hover.png) no-repeat center;
    background-size: contain;
}
.about__contacts_messenger-insta{
    background: url(../images/insta_hover.png) no-repeat center;
    background-size: contain;
}
.about__contacts_messenger-be{
    background: url(../images/be_hover.png) no-repeat center;
    background-size: contain;
}
.general__social_messenger-insta{
    background: url(../images/insta_hover.png) no-repeat center;
    background-size: contain;
}
.general__social_messenger-fb{
    background: url(../images/fb_hover.png) no-repeat center;
    background-size: contain;
}
.general__social_messenger-tik{
    background: url(../images/tik_hover.png) no-repeat center;
    background-size: contain;
}
.general__social_messenger-youtube{
    background: url(../images/youtube_hover.png) no-repeat center;
    background-size: contain;
}
.model__steck_list li,
.about__contacts_sety p{
	color:#8a8a8a;
}
.model__steck_book p {
    color:#8a8a8a;
}
.model__steck_book p span{
    color:#fff;
}
.about__block_right{
	/* height: calc(100vh - 20px - 160px);
	overflow:auto;
	padding-bottom:40px; */
	padding-bottom: 160px;
}
/* .about__block_right:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.about__block_right::-webkit-scrollbar {
	-webkit-appearance: none;
	width:1px;
}
.about__block_right::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: rgba(0,0,0,0);
} */
.inherit__models_info-block{
	font-size: 22px;
	line-height: 30px;
}
.inherit__models_info-check{
	display:inline;
	text-decoration:underline;
	cursor:pointer;
	position:relative;
	z-index:100;
}
.inherit__models_info-dimensions{
	font-size:20px;
}
.inherit__models_list{
	cursor:pointer;
}
.inherit__models_list.inherit__models_list-activ{
	position:relative;
}
.model__steck_book-button{
	background: 
		linear-gradient(#232323,#232323) padding-box,
		linear-gradient(to right, #0074B5, #00B5B5) border-box;
}
.main__image{
	border-radius: 0;
}
.video__youtube{
	width:80%;
	height:50%;
}
.contacts__list_model {
    margin: 10px 7px;
}
.blog__main {
	overflow: initial;
    height: auto;
    padding-bottom: 160px;
}
.blog__main:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.blog__main::-webkit-scrollbar {
	-webkit-appearance: none;
	width:0px;
}
.blog__main::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: rgba(0,0,0,0);
}
body.main__about_scroll{
	height: 100%;
	overflow:auto;
}
body.main__about_scroll:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
body.main__about_scroll::-webkit-scrollbar {
	-webkit-appearance: none;
	width:0px;
}
body.main__about_scroll::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #000;
}
body.main__join_scroll{
	height: 100%;
	overflow:auto;
}
body.main__join_scroll:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
body.main__join_scroll::-webkit-scrollbar {
	-webkit-appearance: none;
	width:0px;
}
body.main__join_scroll::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #000;
}
.blog__box{
	padding-bottom:30px;
}
.top__fixed_menu{
	border-radius:0 !important;
}
}
@media screen and (max-width:760px){
.about__main{
	flex-direction: column;
	width:100%;
	padding-bottom:300px;
	position:relative;
}
.about__questions {
    width: 100%;
	height:auto;
	overflow:initial;
	order:1;
	padding-bottom: 40px;
}
.about__questions:hover{
	overflow-y: initial;
	overflow-x: initial;
}
.about__questions::-webkit-scrollbar {
	-webkit-appearance: none;
	width:0;
}
.about__contact {
    height: auto;
	overflow:initial;
}
.about__contact:hover{
	overflow-y: initial;
	overflow-x: initial;
}
.about__contact::-webkit-scrollbar {
	-webkit-appearance: none;
	width:0;
}
.joinus__polaroids_views-view li {
    width: 32%;
}
.joinus__polaroids_views-foto {
    height: auto;
}
.about__block_right {
    height: auto;
    overflow: initial;
    width: 100%;
	flex-direction: column;
	padding-bottom:0;
}
.general {
    order: -1;
}
.general__bottom{
	position:absolute;
	bottom:210px;
	width:100%;
	left:0;
}
.about__body{
	overflow:initial;
}
}
@media screen and (max-width:640px){
.blog__box {
    align-items: flex-start;
	flex-direction:column;
}
.blog__box_img {
    width: 100%;
    height: auto;
    align-items:flex-start;
	margin-bottom:20px;
}
.blog__box_text {
    width: 100%;
    margin-left: 0;
}
.inherit__models li {
    margin: 0 0 32px;
    width:100%;
    height: auto;
}
.inherit__models {
    padding: 0 37px;
	padding-bottom: 40px;
}
.top__models.top__display_filter .top__fixed_filter-text {
    padding-left: 37px;
    width: 76px;
}
.main__image {
    width: auto;
    height: 100%;
}
.top__fixed_filter-search--input {
    display: none;
}
}
@media screen and (max-width:500px){
.main__image {
    top: auto;
	bottom:160px;
	left:50%;
    transform: translate(-50%, 0);
	min-height:calc(100vh - 160px);
	width:110%;
}
.top__fixed_icon {
    height: 25px;
	background-size:contain;
}
.top__models .top__fixed_menu-list li.tab__menu_activ {
    font-size: 18px;
}
.main__models .models__tab131 .model__info_top .model__info_top-back {
    padding-left: 30px;
}
.main__models .models__tab131 .model__info_top .model__info_top-back span {
    font-size: 18px;
}
.main__models .models__tab131 .model__info_top .model__info_top-back img{
   width:12px;
}
.main__models .models__tab131 .model__info_top .model__info_top-right .model__info_top-name {
    font-size: 38px;
}
.main__models .models__tab131 .model__info_top .model__info_top-right .model__info_top-new {
    font-size: 12px;
}
.main__models .models__tab131 .model__info_top .model__info_top-right {
    padding-right:30px;
    width: calc(50vw + 28px);
}
.main__models .models__tab132 .model__info_top .model__info_top-back {
    padding-left: 30px;
}
.main__models .models__tab132 .model__info_top .model__info_top-back span {
    font-size: 18px;
}
.main__models .models__tab132 .model__info_top .model__info_top-back img{
   width:12px;
}
.main__models .models__tab132 .model__info_top .model__info_top-right .model__info_top-name {
    font-size: 38px;
}
.main__models .models__tab132 .model__info_top .model__info_top-right .model__info_top-new {
    font-size: 12px;
}
.main__models .models__tab132 .model__info_top .model__info_top-right {
    padding-right:30px;
    width: calc(50vw + 28px);
}
.model__info_article {
    font-size: 25px;
}
.chat{
	right:10px;
}
.model__steck_youtube p, .model__steck_social p {
    font-size: 25px;
    font-family: 'darker_grotesquelight';
    margin-bottom: 20px;
}
.joinus__polaroids_bottom-text {
    width:500px;
}
.joinus__polaroids_views-info {
    height: 40px;
    font-size: 11px;
    line-height: 22px;
    bottom: -38px;
}
.polaroids__form_main {
    flex-direction: column;
}
.polaroids__form_main-box {
    width: 100%;
}
.joinus__polaroids_views-plus {
    width: 18px;
    height: 18px;
}
.joinus__polaroids_bottom-text {
    width: 100%;
}
.joinus__polaroids_views-foto:hover .joinus__polaroids_views-info {
    bottom: -38px;
}
.about__contacts_models-block {
    justify-content: space-around;
}
}
@media screen and (max-width:406px){
.jq-selectbox__select1 {
    width: 50px;
}
.jq-selectbox__dropdown1 {
	width: 50px;
}
.jq-selectbox__select2 {
    width: 56px;
}
.jq-selectbox__dropdown2 {
    width: 56px;
}
.jq-selectbox__select3 {
    width: 68px;
}
.jq-selectbox__dropdown3 {
    width: 68px;
}
.jq-selectbox li {
    font-size: 12px;
}
.jq-selectbox__select {
    font-size: 12px;
}
.top__fixed_filter-select {
    margin-right: 4px;
}
.top__fixed_filter-search--input {
    width: 44px;
}
.model__steck_list {
    margin-right: 12px;
}
.about__contacts_box-karta {
    padding: 14px 10px;
}
.about__contacts_mobile {
    font-size: 12px;
    line-height: 16px;
}
.about__contacts_email {
    font-size: 12px;
    line-height: 16px;
}
.about__contacts_mobile-phone {
    font-size: 8px;
    line-height: 10px;
}
.about__contacts_sety {
    font-size: 12px;
    line-height: 19px;
}
.about__contacts_models {
    padding: 20px 6px 10px;
}
.contacts__list_model {
    margin: 10px 4px;
}
.contacts__list_model {
    width: 64px;
    height: 64px;
}
}