html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	}
body {
	line-height: 1;
	}
ol, ul {
	list-style: none;
	}
blockquote, q {
	quotes: none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
@font-face {
    font-family: 'darker_grotesqueregular';
    src: url('../font/darkergrotesque-regular-webfont.eot');
    src: url('../font/darkergrotesque-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/darkergrotesque-regular-webfont.woff2') format('woff2'),
         url('../font/darkergrotesque-regular-webfont.woff') format('woff'),
         url('../font/darkergrotesque-regular-webfont.ttf') format('truetype'),
         url('../font/darkergrotesque-regular-webfont.svg#darker_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'darker_grotesquelight';
    src: url('../font/darkergrotesque-light-webfont.eot');
    src: url('../font/darkergrotesque-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/darkergrotesque-light-webfont.woff2') format('woff2'),
         url('../font/darkergrotesque-light-webfont.woff') format('woff'),
         url('../font/darkergrotesque-light-webfont.ttf') format('truetype'),
         url('../font/darkergrotesque-light-webfont.svg#darker_grotesquelight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'darker_grotesquesemibold';
    src: url('../font/darkergrotesque-semibold-webfont.eot');
    src: url('../font/darkergrotesque-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/darkergrotesque-semibold-webfont.woff2') format('woff2'),
         url('../font/darkergrotesque-semibold-webfont.woff') format('woff'),
         url('../font/darkergrotesque-semibold-webfont.ttf') format('truetype'),
         url('../font/darkergrotesque-semibold-webfont.svg#darker_grotesquesemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'exolight';
    src: url('../font/exo-light-webfont.eot');
    src: url('../font/exo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/exo-light-webfont.woff2') format('woff2'),
         url('../font/exo-light-webfont.woff') format('woff'),
         url('../font/exo-light-webfont.ttf') format('truetype'),
         url('../font/exo-light-webfont.svg#exolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'exomedium';
    src: url('../font/exomedium-webfont.eot');
    src: url('../font/exomedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/exomedium-webfont.woff2') format('woff2'),
         url('../font/exomedium-webfont.woff') format('woff'),
         url('../font/exomedium-webfont.ttf') format('truetype'),
         url('../font/exomedium-webfont.svg#exomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img{
	border:none;
}

html,body {
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #000000 0%, #101010 100%);
	font-family: 'darker_grotesqueregular';
	color:#fff;
	font-weight:normal;
	font-size:12px;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body{
	overflow:hidden;
}
input, textarea ,button{outline:none;font-family: 'darker_grotesqueregular';}
input:active, textarea:active,button:active {outline:none;}
a{
	text-decoration:none;
	font-size:12px;
	font-family: 'darker_grotesqueregular';
	outline:none;
}
a:focus, a:hover {
    text-decoration: none;
	outline:none;
}
.flex{
	-webkit-display:flex;
	-moz-display:flex;
	display:flex;
}
.wrapper{
	min-width:100%;
	width:100%;
}
.wrapper__main{
	width:100%;
	margin:0 auto;
	-moz-transition: all 1s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0.5s;
	-webkit-transition-timing-function: ease;
	//opacity:0;
	padding-left:140px;
	height:100vh;
	overflow:auto;
}
.wrapper__main:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.wrapper__main::-webkit-scrollbar {
	-webkit-appearance: none;
	width:0;
}
.wrapper__main::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: rgba(0,0,0,0);
}
.animations{
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.panel{
	position:fixed;
	top:0;
	left:0;
	background: #232323;
	border: 0.5px solid rgba(255, 255, 255, 0.27);
	border-radius: 0px 8px 8px 0px;
	height:100%;
	width:140px;
	padding:0 21px;
	z-index: 2000;
}
.panel__logo{
	width:100%;
	height:9.25vh;
	justify-content:center;
	align-items:center;
}
.panel__logo img{
	width:30px;
}
.panel__link{
	font-size: 16px;
	line-height: 22px;
	text-decoration-line: underline;
	color: #8A8A8A;
	display:block;
	text-align:center;
}
.panel__top{
	height:17.25vh;
}
.panel__settings_title,
.panel__members_title{
	font-size: 26px;
	line-height: 35px;
	color:#fff;
	text-align:center;
	margin-bottom:15px;
	cursor:pointer;
}
.panel__members_xxx{
	position:relative;
}
.nut{
	position:absolute;
	top:12px;
	left:10px;
	opacity:0;
	width:15px;
	height:15px;
	background:url(images/nut.png) no-repeat center;
}
.nut:hover,
.nut.nut__active{
	background:url(images/nut_active.png) no-repeat center;
	cursor:pointer;
}
.panel__active .nut{
	left:-8px;
	opacity:1;
}
.panel__settings_title::before,
.panel__members_title::before{
	content:'';
	position:absolute;
	border: 4px solid transparent;
    border-right: 10px solid #8a8a8a;
	top:16px;
	right:-12px;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.panel.panel__active .panel__settings_title::before,
.panel.panel__active .panel__members_title::before{
	transform:rotate(180deg);
}
.panel__settings_title:hover::before,
.panel__members_title:hover::before{
    border-right: 10px solid #fff;
}
.panel__settings{
	position:relative;
	margin-bottom:20px;
}
.panel__settings::before{
	content:'';
	position:absolute;
	width:138px;
	height:1px;
	background: #1A1A1A;
	left:-21px;
	bottom:0;
}
.panel__settings_list{
	height:32vh;
	overflow:auto;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.panel__settings_list:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.panel__settings_list::-webkit-scrollbar {
	-webkit-appearance: none;
	width:0;
}
.panel__settings_list::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: rgba(0,0,0,0);
}
.panel__settings_list li{
	background: #1A1A1A;
	border-radius: 8px;
	width:48px;
	margin:0 auto;
	margin-bottom:16px;
	cursor:pointer;
	position:relative;
}
.panel__settings_list-icon{
	width:48px;
	height:48px;
	border-radius:8px;
	position:relative;
	z-index:10;
}
.panel__settings_list-icon1{
	background:url(images/icon1.png) no-repeat center;
	background-color:#1a1a1a;
}
.panel__settings_list-icon2{
	background:url(images/icon2.png) no-repeat center;
	background-color:#1a1a1a;
}
.panel__settings_list-icon3{
	background:url(images/icon3.png) no-repeat center;
	background-color:#1a1a1a;
}
.panel__settings_list li:hover .panel__settings_list-icon2{
	background:url(images/icon2_active.png) no-repeat center;
	background-color:#1a1a1a;
}
.panel__settings_list li:hover .panel__settings_list-icon3{
	background:url(images/icon3_active.png) no-repeat center;
	background-color:#1a1a1a;
}
.panel__settings_list-icon4{
	background:url(images/icon4.png) no-repeat center;
	background-color:#1a1a1a;
}
.panel__settings_list-icon5{
	background:url(images/icon5.png) no-repeat center;
	background-color:#1a1a1a;
}
.panel__settings_list-icon6{
	background:url(images/icon5.png) no-repeat center;
	background-color:#1a1a1a;
}
.panel__settings_list li.panel__settings_list-no--active{
	opacity:.5;
	cursor:initial;
}
.panel__settings_list-text{
	left:0;
	position: absolute;
	font-size:16px;
	color:#8a8a8a;
	top:50%;
	transform:translate(0, -50%);
	opacity:0;
}
.panel__settings_list li:hover .panel__settings_list-text{
	color:#fff;
}
.panel__settings_list li.panel__settings_list-no--active:hover .panel__settings_list-text{
	color:#8a8a8a;
}
.panel__members_list{
	height:140px;
	width:40px;
	margin:0 auto;
	overflow:hidden;
}
.panel__members_list-box{
	margin-bottom:10px;
	align-items:center;
	width:40px;
	position:relative;
	cursor:pointer;
}
.panel__members_list-icon{
	width:40px;
	height:40px;
	border-radius:50%;
	display:flex;
	overflow:hidden;
	justify-content:center;
	align-items:center;
	position: relative;
    z-index: 1;
}
.panel__members_list-box--active .panel__members_list-icon{
	filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.13));
}
.panel__members_list-text{
	font-size:16px;
	position: absolute;
	top:50%;
	transform:translate(0, -50%);
    left:0;
}
.panel__members_arrow{
	margin:15px auto;
	background:url(images/arrow_down.png) no-repeat center;
	width:23px;
	height:23px;
}
.panel__members_arrow:hover{
	background:url(images/arrow_down-active.png) no-repeat center;
	cursor:pointer;
}
.panel__members_arrow.panel__members_arrow-active{
	transform:rotate(180deg);
}
.panel__members_file{
	width:40px;
	height:40px;
	border-radius:50%;
	border:1px dashed #8a8a8a;
	position:relative;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
.panel__members_file:hover{
	border:1px dashed #fff;
}
.panel__members_file-input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
	z-index:10;
}
.panel__members_file-error{
	display:none;
}
.panel__members_file-button{
	position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background: none;
	cursor:pointer;
}
.panel__members_file-plus{
	position:absolute;
	width:10px;
	height:10px;
	transform:translate(-50%, -50%);
	top:50%;
	left:50%;
	cursor:pointer;
}
.panel__members_file-plus div:nth-child(1){
	width:100%;
	height:1px;
	background: #8a8a8a;
	position:absolute;
	transform:translate(0, -50%);
	top:50%;
	left:0;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.panel__members_file-plus div:nth-child(2){
	width:1px;
	height:100%;
	background: #8a8a8a;
	position:absolute;
	transform:translate(-50%, 0);
	top:0;
	left:50%;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.panel__members_file:hover .panel__members_file-plus div:nth-child(1),
.panel__members_file:hover .panel__members_file-plus div:nth-child(2){
	background: #fff;
}
.panel__members_block{
	height:32vh;
	overflow:auto;
}
.panel__members_block:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.panel__members_block::-webkit-scrollbar {
	-webkit-appearance: none;
	width:0px;
}
.panel__members_block::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: rgba(0,0,0,0);
}
.panel.panel__active{
	width:174px;
}
.panel__active .panel__settings_list li{
	width:130px;
}
.panel__active .panel__members_list-box,
.panel__active .panel__members_list{
    width: 130px;
}
.panel__members_list.panel__members_list-active{
	height:100%;
}
.panel__active .panel__members_list-text{
	left:58px;
}
.panel__active .panel__settings_list-text{
	left:50px;
	opacity:1;
}
.panel__active ~ .content .wrapper__main{
	padding-left:174px;
}
.content .content__bird_main{
	width:100%;
	height:100vh;
	align-items:center;
	justify-content:center;
}
.addnewfile_file_input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
	z-index:10;
	cursor:pointer;
}
.addnewfile_file_error{
	display:none;
}
.addnewfile_file_button{
	position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background: none;
	left:0;
	top:0;
	cursor:pointer;
}
.general{
	padding-top:40px;
	padding-bottom:40px;
}
.general__top{
	justify-content: center;
}
.general__block{
	width:100%;
}
.addnewfile{
	padding:30px 42px;
	width:300px;
	text-align:center;
}
.general__block_box{
	height:220px;
	border-radius: 8px;
	background: #1A1A1A;
}
.addnewfile_name{
	font-size: 23px;
	line-height: 31px;
	margin-bottom:20px;
	font-family: 'darker_grotesquesemibold';
}
.addnewfile_file{
	border: 1px solid #8A8A8A;
	border-radius: 6px;
	width:216px;
	height:40px;
	position:relative;
}
.addnewfile_file-active{
	background:#00FF05;
}
.addnewfile_file_name{
	position:absolute;
	top:-16px;
	font-size: 11px;
	color: #8A8A8A;
	left:0;
	display:none;
}
.addnewfile_file-active .addnewfile_file_name{
	display:block;
}
.addnewfile_file-active .addnewfile_file_text img{
	display:none;
}
.addnewfile_file:hover{
	border: 1px solid #fff;
	background:#fff;
}
.addnewfile_file-active.addnewfile_file:hover{
	border: 1px solid #8a8a8a;
	background:#00FF05;
}
.addnewfile_file_text{
	font-size: 15px;
	color: #8A8A8A;
	line-height:40px;
}
.addnewfile_file:hover .addnewfile_file_text{
	color:#1a1a1a;
}
.addnewfile_file_text span{
	font-size: 18px;
}
.addnewfile__format{
	font-size: 11px;
	line-height: 15px;
	text-align:left;
	color:#8a8a8a;
}
.addnewfile__format span{
	color:#f00;
}
.addnewfile__buttons{
	justify-content:space-between;
	margin-top:20px;
}
.addnewfile__buttons_button{
	border-radius: 6px;
	width:104px;
	height:36px;
	font-weight: bold;
	cursor:pointer;
}
.addnewfile__buttons_button1{
	border:1px solid #fff;
	font-size: 18px;
	color:#000;
	background:#fff;
}
.addnewfile__buttons_button1:hover{
	color:#fff;
	background:none;
}
.addnewfile__buttons_button2{
	border:1px solid #8a8a8a;
	font-size: 18px;
	color:#8a8a8a;
	background:none;
}
.addnewfile__buttons_button2:hover{
	color:#000;
	background:#8a8a8a;
}
.aphorisms{
	padding:30px 36px 0;
	width:334px;
	text-align:center;
}
.aphorisms h3,
.companies h3,
.companies h4{
	font-size: 23px;
	line-height: 31px;
	margin-bottom:20px;
	font-family: 'darker_grotesquesemibold';
}
.companies h3,
.companies h4{
	margin-bottom:7px;
}
.aphorisms__block_top{
	justify-content:space-between;
}
.aphorisms__block_numbers-number,
.aphorisms__block_setting-button{
	background: #2E2E2E;
	border-radius: 4px;
	width:26px;
	height:24px;
	color: #8A8A8A;
	margin-right:10px;
	font-size: 16px;
	font-family: 'exomedium';
	text-align:center;
	line-height:24px;
	cursor:pointer;
}
.aphorisms__block_setting-button:last-child{
	margin-right:0;
}
.aphorisms__block_numbers-number:hover,
.aphorisms__block_numbers-number--active{
	color: #fff;
}
.aphorisms__block_text{
	width:100%;
	margin-top:10px;
}
.aphorisms__block_text-input{
	width:100%;
	border: 1px solid #8A8A8A;
	height:28px;
	padding:0 10px;
	font-size: 14px;
	color:#8a8a8a;
	background: #1A1A1A;
}
.aphorisms__block_setting-button1{
	background:url(images/redactiv.png) no-repeat center;
	background-color:#2e2e2e;
}
.aphorisms__block_setting-button2{
	background:url(images/file.png) no-repeat center;
	background-color:#2e2e2e;
}
.aphorisms__block_setting-button3{
	background:url(images/basket.png) no-repeat center;
	background-color:#2e2e2e;
}
.aphorisms__block_setting-button1:hover,
.aphorisms__block_setting-button--active.aphorisms__block_setting-button1{
	background:url(images/redactiv_active.png) no-repeat center;
	background-color:#2e2e2e;
}
.aphorisms__block_setting-button2:hover,
.aphorisms__block_setting-button--active.aphorisms__block_setting-button2{
	background:url(images/file_active.png) no-repeat center;
	background-color:#2e2e2e;
}
.aphorisms__block_setting-button3:hover,
.aphorisms__block_setting-button--active.aphorisms__block_setting-button3{
	background:url(images/basket_active.png) no-repeat center;
	background-color:#2e2e2e;
}
.open2,.open3,.open4{display:none;}

.information{
	padding:30px 36px;
	width:350px;
	text-align:center;
}
.information h3{
	font-size: 23px;
	line-height: 31px;
	margin-bottom:20px;
	font-family: 'darker_grotesquesemibold';
}
.information__settong_block{
	justify-content:flex-end;
	margin-bottom:10px;
}
.information__settong_input{
	border: 1px solid #8A8A8A;
	font-size: 14px;
	line-height: 19px;
	color: #8A8A8A;
	width:100%;
	height:70px;
	background:#1a1a1a;
	padding:4px 10px 8px;
	resize:none;
	overflow:auto;
}
.information__settong_input:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.information__settong_input::-webkit-scrollbar {
	-webkit-appearance: none;
	width:0;
}
.information__settong_input::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: rgba(0,0,0,0);
}
.general__top > div{
	margin:0 34px;
}
.companies{
	width:576px;
	height:320px;
	padding:18px 42px 28px;
}
.opendiv2,.opendiv3,.opendiv4,
.openbox2,.openbox3,.openbox4{
	display:none;
}
.companies__question{
	border: 1px solid #8A8A8A;
	width:360px;
	height:28px;
	font-size: 14px;
	line-height: 19px;
	color: #8A8A8A;
	background:#1a1a1a;
	padding:0 10px;
	margin:0 0 7px;
}
.companies__answer{
	border: 1px solid #8A8A8A;
	width:360px;
	height:28px;
	font-size: 14px;
	color: #8A8A8A;
	background:#1a1a1a;
	padding:0 10px;
	margin-bottom:6px;
}
.companies__block_box{
	width:100%;
	justify-content:space-between;
	align-items:center;
}
.companies .aphorisms__block_setting-button{
	margin-right:5px;
}
.companies .aphorisms__block_setting-button:last-child{
	margin-right:0;
}
.companies .aphorisms__block_numbers{
	margin-bottom:7px;
}
.companies__block_text{
	flex-direction:column;
}
.aphorisms__block_setting-button0{
	position:relative;
}
.aphorisms__block_setting-button0 div{
	position:absolute;
	background:#8a8a8a;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.aphorisms__block_setting-button0 div:nth-child(1){
	width:11px;
	height:1px;
}
.aphorisms__block_setting-button0 div:nth-child(2){
	width:1px;
	height:11px;
}
.aphorisms__block_setting-button0:hover div{
	background:#fff;
}
.general__center{
	justify-content:center;
	padding:30px 0;
}
.networks{
	width:428px;
	height:320px;
	padding:30px;
	margin-left:68px;
}
.networks h3{
	font-size: 23px;
	line-height: 31px;
	text-align:center;
	margin-bottom:9px;
	font-family: 'darker_grotesquesemibold';
}
.networks__messenger_sety{
	width:34px;
	text-align:center;
	margin-right:15px;
}
.networks__messenger_sety2{
	margin-right:0;
}
.networks__power_default{
	margin-bottom:7px;
	text-align:center;
}
.networks__power_default span{
	display:block;
	width:30px;
	margin-right:15px;
	font-size: 11px;
	line-height: 15px;
	color:#8a8a8a;
}
.networks__messenger_input{
	border: 1px solid #8A8A8A;
	width:228px;
	height:28px;
	margin:0 12px 0 8px;
	font-size: 14px;
	color:#8a8a8a;
	background:#1a1a1a;
	padding:0 10px;
}
.networks__messenger_block{
	align-items:center;
	margin-bottom:25px;
}
.networks__messenger_block:last-child{
	margin-bottom:0;
}
.edit{
	width:1028px;
	height:532px;
	padding:24px 0 30px;
	margin:0 auto;
}
.edit h3{
	font-size: 23px;
	line-height: 31px;
	margin-bottom:20px;
	text-align:center;
	font-family: 'darker_grotesquesemibold';
}
.edit__block{
	justify-content:center;
}
.edit__block_box{
	width:364px;
	height:424px;
	padding:20px 15px;
	background: #232323;
	border-radius: 8px;
}
.edit__block_addfiles{
	justify-content:space-between;
	flex-wrap:wrap;
}
.edit__block_file{
	width:102px;
	height:138px;
	position:relative;
	background: #343434;
}
.edit__block_file-gorizont{
	width:188px;
	height:102px;
	margin: 12px auto 0;
}
.edit__block_file-plus{
	position:absolute;
	width:48px;
	height:48px;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}
.edit__block_file-plus div:nth-child(1){
	position:absolute;
	width:100%;
	height:1px;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	background:#8A8A8A;
}
.edit__block_file-plus div:nth-child(2){
	position:absolute;
	width:1px;
	height:100%;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	background:#8A8A8A;
}
.edit__block_file-input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
	z-index:10;
}
.edit__block_file-error{
	display:none;
}
.edit__block_file-button{
	position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background: none;
	cursor:pointer;
}
.edit__block_input{
	border: 1px solid #8A8A8A;
	width:100%;
	height:70px;
	margin:12px 0;
	font-size: 14px;
	color:#8a8a8a;
	background:#232323;
	padding:0 10px;
	resize:none;
}
.edit .addnewfile__buttons {
    justify-content: center;
    margin-top: 0;
}
.edit .addnewfile__buttons_button{
	margin:0 6px;
}
.blog__right{
	margin-left:68px;
}
.blog__right_list{
	margin-top:20px;
	margin-left:10px;
	overflow:auto;
	height:404px;
}
.blog__right_list:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.blog__right_list::-webkit-scrollbar {
	-webkit-appearance: none;
	width:1px;
	background:#2E2E2E;
}
.blog__right_list::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #8a8a8a;
}
.blog__right_list li{
	margin-bottom:10px;
}
.edit__block_file{
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
}
.edit__block_file img{
	width:100%;
	height:auto;
}
.edit__block_box-setting .edit__block_file-plus,
.edit__block_box-setting .edit__block_file-input,
.edit__block_box-setting .edit__block_file-button{
	display:none;
}
.edit__block_file-input .edit__block_file{
	cursor:initial;
}
.open{
	position:relative;
	padding:10px;
	z-index:1000;
	height: 100vh;
}
.open__image{
	position:relative;
	height:100%;
	width:auto;
}
.open__form{
	align-items:center;
	justify-content:center;
	width:100%;
	flex-direction:column;
}
.open__bird{
	position:absolute;
	top:25px;
	right:63px;
	width:30px;
}
.open__form h2{
	font-weight: bold;
	font-size: 30px;
	line-height: 41px;
}
.open__form h3{
	font-size: 20px;
	line-height: 27px;
	margin-bottom:70px;
}
.open__form_input{
	width: 464px;
	height: 44px;
	border-radius: 4px;
	font-size: 20px;
	color:#8a8a8a;
	background:#fff;
	border:none;
	margin-bottom:24px;
	padding:0 50px 0 26px;
	font-family: 'darker_grotesquelight';
}
.open__form_input::-webkit-input-placeholder {color:#8A8A8A;font-family: 'darker_grotesquelight';}
.open__form_input::-moz-placeholder          {color:#8A8A8A;font-family: 'darker_grotesquelight';}
.open__form_input:-moz-placeholder           {color:#8A8A8A;font-family: 'darker_grotesquelight';}
.open__form_input:-ms-input-placeholder      {color:#8A8A8A;font-family: 'darker_grotesquelight';}
.open__form_input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.open__form_input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.open__form_input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.open__form_input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.open__button{
	width: 464px;
	height: 44px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 20px;
	color:#1a1a1a;
	background:#fff;
	border:1px solid #fff;
	margin-top:16px;	
}
.open__button:hover{
	cursor:pointer;
	background:none;
	color:#fff;
}
.open__form_eye{
	position:absolute;
	top:12px;
	right:24px;
	width:21px;
	height:21px;
	background:url(images/eye.png) no-repeat center;
	cursor:pointer;
}
.open__form_block{
	position:relative;
}
.open__form_block::before{
	content:'';
	position:absolute;
	top:6px;
	left:-48px;
	width:30px;
	height:30px;
}
.padlock.open__form_login::before{
	background:url(images/padlock.png) no-repeat center;
}
.padlock.open__form_password::before{
	background:url(images/padlock.png) no-repeat center;
}
.lock.open__form_login::before{
	background:url(images/lock.png) no-repeat center;
}
.lock.open__form_password::before{
	background:url(images/lock.png) no-repeat center;
}
.allmodels{
	padding-top:40px;
	padding-bottom:40px;
}
.allmodels__main{
	width:1060px;
	padding:24px 34px;
	background: #1A1A1A;
	border-radius: 8px;
	margin:0 auto;
}
.allmodels h2{
	font-size: 23px;
	line-height: 31px;
	font-family: 'darker_grotesquesemibold';
	text-align:center;
	margin-bottom:30px;
}
.allmodels__content{
	width:100%;
	background: #232323;
	border-radius: 8px;
	padding:26px 42px;
	justify-content:space-between;
}
.allmodels__content_left{
	width:636px;
}
.allmodels__content_left-top{
	justify-content:space-between;
}
.allmodels__content_left-top--image{
	overflow:hidden;
	position:relative;
	width: 254px;
	height: 344px;
	background:#343434;
	justify-content:center;
	align-items:center;
}
.allmodels__content_left-top--image img{
	width:auto;
	height:100%;
}
.allmodelsblock,
.allmodelslider{
	width: 100%;
	height: 38px;
	align-items:center;
	position:absolute;
	bottom:0;
	left:0;
	background:rgba(0,0,0,.4);
	justify-content:center;
}
.allmodels__slider{
	width:344px;
}
.allmodels__slider h3{
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	margin-bottom:24px;
}
.allmodels__slider_slide{
	width:208px;
	height:280px;
	margin:0 auto;
}
.allmodels__slider_slide .slick-slide > div > div{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
}
.allmodels__slider_slide div img{
	width:auto;
	height:100%;
}
.allmodels__slider_slide .slick-arrow{
	position:absolute;
	top:50%;
	transform:translate(0, -50%);
	width:16px;
	height:16px;
	border:none;
	z-index:10;
	cursor:pointer;
	font-size:0;
}
.allmodels__slider_slide .slick-arrow.slick-prev{
	left:-52px;
	background:url(images/arrow_left.png) no-repeat center;
}
.allmodels__slider_slide .slick-arrow.slick-next{
	right:-52px;
	background:url(images/arrow_right.png) no-repeat center;
}
.allmodels__content_left-bottom{
	padding-top:24px;
	justify-content:space-between;
}
.allmodels__content_left-bottom--select{
	align-items:center;
	flex-wrap:wrap;
	width:240px;
}
.allmodels__content_left-bottom--select input{
	border: 1px solid #8A8A8A;
	font-size: 14px;
	color:#8a8a8a;
	padding:0 10px;
	background:none;
	margin-right:10px;
	margin-bottom:14px;
	height:26px;
}
.jq-selectbox{
	vertical-align: middle;
	cursor: pointer;
	position:relative;
	width: auto;
    display: inline-block;
	margin-bottom:12px;
	margin-right:10px;
}
.jq-selectbox__select{
	height: 26px;
	padding: 0 16px 0 10px;
	//border-radius: 6px;
	color: #8A8A8A;
	font-size:14px;
	position:relative;
	background:none;
	z-index:50;
	border: 1px solid #8A8A8A;
}
.allmodels__select1{
	width:86px;
}
.allmodels__select2{
	width:76px;
}
.allmodels__select3{
	width:68px;
}
.allmodels__select4{
	width:68px;
}
.allmodels__select5{
	width:84px;
}
.allmodels__dropdown1{
	width:86px;
	top:-100px;
}
.allmodels__dropdown2{
	width:76px;
	top:-100px;
}
.allmodels__dropdown3{
	width:68px;
	top:-100px;
}
.allmodels__dropdown4{
	width:68px;
	top:-100px;
}
.allmodels__dropdown5{
	width:84px;
	top:-100px;
}
.jq-selectbox__select-text {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height:100%;
	line-height:22px;
} 
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width:15px;
	height: 100%;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 10px;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 6px solid #8A8A8A;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
	opacity:.5;
}
.jq-selectbox__dropdown {
	//top: 200;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-radius:0 0 6px 6px;
	display:none;
	position:absolute;
	left:0;
	background: #1A1A1A;
	opacity:0;
	z-index:100;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	min-height: 18px;
	padding: 5px 8px 6px;
	font-size: 18px;
	line-height: 24px;
	color: #8A8A8A;
}
.jq-selectbox__dropdown-active.jq-selectbox__dropdown{
	top:26px;
}
.allmodels__content_left-bottom--input1{
	width:40px;
}
.allmodels__content_left-bottom--input2{
	width:72px;
}
.allmodels__content_left-bottom--input3{
	width:40px;
}
.allmodels__content_left-bottom--input4{
	width:54px;
}
.allmodels__content_left-bottom--input5{
	width:50px;
}
.allmodels__content_left-bottom--input6{
	width:54px;
}
.allmodels__dropdown1.jq-selectbox__dropdown-active,
.allmodels__dropdown2.jq-selectbox__dropdown-active,
.allmodels__dropdown3.jq-selectbox__dropdown-active,
.allmodels__dropdown4.jq-selectbox__dropdown-active,
.allmodels__dropdown5.jq-selectbox__dropdown-active{
	opacity:1;
	z-index:200;
	display:block;
}
.allmodels__content_left-bottom--sety .networks__messenger_input{
	width:286px;
	margin: 0 18px 0 0;
}
.allmodels__content_left-bottom--sety .networks__messenger_block {
    margin-bottom: 12px;
}
.allmodels__content_right-images{
	
}
.allmodels__content_right-foto{
	width:180px;
	height:242px;
	overflow:hidden;
	justify-content:center;
	align-items:center;
	border:1px solid transparent;
	margin-bottom:24px;
	cursor:pointer;
}
.allmodels__content_right-foto:last-child{
	margin-bottom:0;
}
.allmodels__content_right-foto img{
	width:auto;
	height:100%;
}
.allmodels__content_right .blog__right_list {
    margin-top: 0;
    height: 512px;
}
.allmodels__content_right-foto.allmodels__content_right-foto--active{
	background: linear-gradient(#343434,#343434) padding-box, linear-gradient(to right, #0074B5, #00B5B5) border-box;
    border: 1px solid transparent;
}
.allmodels__add{
	padding:24px 0 0 42px;
}
.allmodels__add .addnewfile_file{
	text-align:center;
}
.aphorisms__block_numbers-number.allmodels__click_active{
	color:#fff;
}
.nuttt{
	padding-bottom:40px;
	padding-top:40px;
}
.nuttt h2{
	font-size: 23px;
	line-height: 31px;
	font-family: 'darker_grotesquesemibold';
	margin-bottom:38px;
	text-align:center;
}
.nuttt__main{
	background: #1A1A1A;
	border-radius: 8px;
	width:1060px;
	padding:20px 62px;
	margin:0 auto;
}
.level__top{
	font-size: 23px;
	line-height: 31px;
	font-family: 'darker_grotesquesemibold';
	padding-bottom:15px;
}
.level__top p{
	margin-right:80px;
}
.level__block_box{
	background: #232323;
	border-radius: 8px;
	align-items:center;
}
.level__block_box-name{
	border: 1px solid #2E2E2E;
	border-radius: 8px;
	padding-left:20px;
	width:168px;
	height:46px;
	align-items:center;
	margin-right:4px;
	font-size: 20px;
	font-family: 'darker_grotesquesemibold';
}
.level__block_list{
	border: 1px solid #2E2E2E;
	border-radius: 8px;
	padding:0 3px;
	border: 1px solid #2E2E2E;
	border-radius: 8px;
	height:46px;
	align-items:center;
	justify-content:space-between;
}
.level__block_list-punkt{
	font-size: 16.5px;
	color: #8A8A8A;
	background-color:rgba(26,26,26,.5);
	border-radius: 8px;
	width:128px;
	height:40px;
	align-items:center;
	padding-left:46px;
	margin-right:3.5px;
}
.level__block_list-punkt:last-child{
	margin-right:0;
}
.level__block_list-punkt--mini{
	width:38px;
	cursor:pointer;
}
.level__block_list-punkt1{
	background:url(images/icon1.png) no-repeat 13px center,rgba(26,26,26,.5);
}
.level__block_list-punkt2{
	background:url(images/icon2.png) no-repeat 13px center,rgba(26,26,26,.5);
}
.level__block_list-punkt3{
	background:url(images/icon3.png) no-repeat 13px center,rgba(26,26,26,.5);
}
.level__block_list-punkt4{
	background:url(images/icon4.png) no-repeat 13px center,rgba(26,26,26,.5);
}
.level__block_list-punkt5{
	background:url(images/icon5.png) no-repeat 13px center,rgba(26,26,26,.5);
}
.level__block_list-punkt6{
	background:url(images/nut.png) no-repeat center,rgba(26,26,26,.5);
}
.level__block_list-punkt7{
	background:url(images/mans.png) no-repeat center,rgba(26,26,26,.5);
}
.level__block_box-super,
.level__block_boxxx{
	margin-bottom:24px;
}
.level__block_setting{
	justify-content:flex-end;
	padding-bottom:5px;
}
.level__block_list-punkt8{
	position:relative;
	cursor:pointer;
}
.level__block_list-punkt8 div{
	position:absolute;
	transform:translate(-50%, -50%);
	background:#8a8a8a;
	top:50%;
	left:50%;
}
.level__block_list-punkt8 div:nth-child(1){
	width:2px;
	height:22px;
}
.level__block_list-punkt8 div:nth-child(2){
	width:22px;
	height:2px;
}
.level__block_boxxx:last-child{
	margin-bottom:0;
}
.level__button{
	background: #232323;
	border-radius: 8px;
	height:46px;
	justify-content:center;
	align-items:center;
	margin:48px 0 36px;
}
.level__button_plus{
	position:relative;
	width:22px;
	height:22px;
}
.level__button_plus div{
	position:absolute;
	transform:translate(-50%, -50%);
	background:#fff;
	top:50%;
	left:50%;
}
.level__button_plus div:nth-child(1){
	width:2px;
	height:22px;
}
.level__button_plus div:nth-child(2){
	width:22px;
	height:2px;
}
.level__button p{
	font-size: 24px;
	margin-left:12px;
	font-family: 'darker_grotesquesemibold';
}
.level__button:hover{
	background:#8a8a8a;
	cursor:pointer;
}
.allmembers h3{
	font-size: 23px;
	line-height: 31px;
	text-align:center;
	margin-bottom:15px;
	font-family: 'darker_grotesquesemibold';
}
.allmembers__top{
	padding-bottom:8px;
}
.allmembers__top li{
	font-size: 20px;
	line-height: 27px;
	margin-right:2px;
	text-align:center;
}
.allmembers__box{
	align-items:center;
	justify-content:space-between;
	margin-bottom:15px;
}
.allmembers__box:last-child{
	margin-bottom:0;
}
.checkbox-ios {
	display: inline-block;    
	height: 34px;    
	line-height: 34px;      
	position: relative;
	vertical-align: middle;
	font-size: 14px;
	user-select: none;	
}
.checkbox-ios .checkbox-ios-switch {
	position: relative;	
	display: inline-block;
	box-sizing: border-box;			
	width: 63px;	
	height: 34px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 25%/50%;	
	vertical-align: top;
	background: #2E2E2E;
	transition: .2s;
}
.checkbox-ios .checkbox-ios-switch:before {
	content: '';
	position: absolute;
	top: 0;
	left: 1px;	
	display: inline-block;
	width: 32px;	
	height: 32px;
	border-radius: 50%;
	background: #8a8a8a;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	transition: .15s;
}
.checkbox-ios input[type=checkbox] {
	display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox-ios input[type=checkbox]:not(:disabled):active + .checkbox-ios-switch:before {
	box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}
.checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch {
	background: #8a8a8a;
}
.checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch:before {
	transform:translateX(28px);
	background: #fff;
}
.checkbox-ios input[type="checkbox"]:not(:disabled) + .checkbox-ios-switch {
	cursor: pointer;
	border-color: rgba(0, 0, 0, .3);
}
.checkbox-ios.focused .checkbox-ios-switch:before {
	box-shadow: inset 0px 0px 4px #ff5623;
}
.allmembers__box_admin{
	background: #232323;
	border-radius: 8px;
	height:46px;
}
.allmembers__box_admin .allmembers__box_admin-input,
.allmembers__box_admin .allmembers__box_admin-photo{
	border: 1px solid #2E2E2E;
	border-radius: 8px;
	margin-right:2px;
	display:flex;
	align-items:center;
	justify-content:center;
	height:46px;
	color:#8a8a8a;
	font-size: 16.5px;
	text-align:center;
	background:#232323;
}
.allmembers__box_admin .allmembers__box_admin-input:last-child{
	margin-right:0;
}
.allmembers__box_admin-photo,
.allmembers__top_article2{
	width:60px;
}
.allmembers__box_admin-photo div{
	width:40px;
	height:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
	border-radius:50%;
}
.allmembers__box_admin-name,
.allmembers__top_article3{
	width:84px;
}
.allmembers__box_admin-mail,
.allmembers__top_article4{
	width:250px;
}
.allmembers__box_admin-password,
.allmembers__top_article5{
	width:134px;
}
.allmembers__box_admin-ip,
.allmembers__top_article6{
	width:104px;
}
.allmembers__box_admin-online,
.allmembers__top_article7{
	width:118px;
}
.allmembers__top li.allmembers__top_article1{
	width:64px;
	margin-right:8px;
}
.admin{
	padding-bottom:40px;
	padding-top:40px;
}
.admin__main{
	background: #1A1A1A;
	border-radius: 8px;
	padding:34px 58px 38px 72px;
	width:1060px;
	margin:0 auto;
	justify-content:space-between;
}
.admin__profil{
	width:430px;
}
.admin__profil_top{
	justify-content: space-evenly;
	align-items:center;
}
.admin__profil_foto{
	justify-content:center;
	align-items:center;
	overflow:hidden;
	border-radius:50%;
	width:122px;
	height:122px;
	position:relative;
}
.admin__profil_foto .admin__profil_foto-profil{
	width:100%;
	height:auto;
}
.admin__profil_foto-file{
	position:absolute;
	bottom:10px;
	left:50%;
	transform:translate(-50%, 0);
	width:16px;
	height:16px;
	cursor:pointer;
}
.admin__profil_file-input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
	z-index:10;
}
.admin__profil_file-error{
	display:none;
}
.admin__profil_file-button{
	position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background: none;
	cursor:pointer;
	left:0;
}
.admin__profil_top-text{
	font-size: 20px;
	font-family: 'darker_grotesquesemibold';
}
.admin__box_redact{
	align-items:center;
	margin-bottom:12px;
}
.admin__box_redact:last-child{
	margin-bottom:0;
}
.admin__box{
	margin-bottom:12px;
}
.admin__box:last-child{
	margin-bottom:0;
}
.admin__box_name{
	font-size: 23px;
	line-height: 31px;
	margin-bottom:8px;
	padding-left:40px;
	font-family: 'darker_grotesquesemibold';
}
.admin__box_redact-icon{
	width:22px;
	height:22px;
	text-align:center;
	justify-content:center;
	align-items:center;
}
.admin__box_input{
	border: 1px solid #8A8A8A;
	width:286px;
	height:26px;
	font-size: 14px;
	color:#8A8A8A;
	padding:0 10px;
	background:none;
	margin:0 18px;
}
.admin__models{
	padding:30px 0 0;
}
.admin__models h3{
	font-size: 23px;
	line-height: 31px;
	font-family: 'darker_grotesquesemibold';
	margin-bottom:14px;
	text-align:center;
}
.admin__models_list{
	width:390px;
	height:494px;
	overflow:auto;
	display:flex;
	padding:28px 14px 14px;
	flex-wrap:wrap;
	background: #2E2E2E;
	border-radius: 8px;
}
.admin__models_list:hover{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.admin__models_list::-webkit-scrollbar {
	-webkit-appearance: none;
	width:1px;
	background:#232323;
}
.admin__models_list::-webkit-scrollbar-thumb {
	border-radius: 0;
	background:#8a8a8a;
}
.admin__models_list-model{
	margin:0 8px 14px;
}
.admin__models_list-model-foto{
	width:71px;
	height:71px;
	border-radius:50%;
	overflow:hidden;
	align-items:center;
	justify-content:center;
}
.admin__models_list-model-foto img{
	width:100%;
	height:auto;
}
.admin__models_list-model-name{
	font-size: 14px;
	line-height: 19px;
	text-align:center;
	color:#fff;
}

.nuttt,
.admin{
	opacity:0;
}
.panei__tab3{
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
.panelopen1{
	z-index:1000;
}
.panelopen2,
.panelopen3{
	opacity:0;
}
.panei__tab3.panelopen--active{
	z-index:100;
}
.nuttt,
.admin{
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
.nuttt.nuttt__active,
.admin.admin__active{
	z-index:100;
	opacity:1;
}
.panel__settings_list .panel__settings_list0--active .panel__settings_list-icon2{
    background: url(images/icon2_active.png) no-repeat center;
    background-color: #1a1a1a;
}
.panel__settings_list .panel__settings_list0--active .panel__settings_list-icon3 {
    background: url(images/icon3_active.png) no-repeat center;
    background-color: #1a1a1a;
}
.popup{
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:466px;
	height:394px;
	padding:30px 90px 0;
	background: #2E2E2E;
	border-radius: 8px;
	flex-direction:column;
	align-items:center;
	display:none;
	z-index:10000;
}
.fon{
	content:'';
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	z-index:5000;
	display:none;
}
.popup h3{
	font-size: 23px;
	line-height: 31px;
	text-align:center;
	margin-bottom:16px;
	font-family: 'darker_grotesquesemibold';
}
.popup__box{
	margin-bottom:10px;
}
.popup__box p{
	font-size: 20px;
	line-height: 27px;
	margin-bottom:4px;
	font-family: 'darker_grotesquesemibold';
}
.popup__box_input{
	width: 286px;
	height: 26px;
	border: 1px solid #8A8A8A;
	background:none;
	color:#fff;
	padding:0 10px;
	font-size:18px;
}
.popup__button{
	width: 255px;
	height: 51px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	font-size: 24px;
	color:#1a1a1a;
	font-family: 'darker_grotesquesemibold';
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	margin-top:18px;
}
.popup__button:hover{
	cursor:pointer;
	background: none;
	color:#fff;
}
.popup__close{
	position:absolute;
	top:16px;
	right:20px;
	opacity:.8;
}
.popup__close:hover{
	opacity:1;
	cursor:pointer;
}
.popup__setting{
	width: 158px;
	//height: 364px;
	background: #2E2E2E;
	border-radius: 8px;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	z-index:3000;
	flex-direction:column;
	justify-content:flex-start;
	padding:14px 0;
	display:none;
}
.popup__setting .level__block_list{
	flex-direction: column;
    align-items: center;
    height:auto;
    justify-content: flex-start;
}
.popup__setting .level__block_list-punkt {
    border: 1px solid #1a1a1a;
    margin:0 0 4px 0;
	height:40px;
	cursor:pointer;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.popup__setting .level__block_list-punkt:hover{
	border:1px solid rgba(255,255,255,.5);
}
.popup__setting .level__block_list-punkt.popup__setting_active{
	border: 1px solid #FFFFFF;
}
.popup__setting .level__block_list-punkt--mini {
    width: 38px;
    height:38px;
	padding:0;
}
.popup__setting_buttons{
	width:100%;
	justify-content:space-between;
	margin-top:2px;
	padding:0 16px;
}
.popup__setting_buttons button,
.popup__setting_buttons div{
	width: 48px;
	height: 36px;
	display:flex;
	justify-content:center;
	align-items:center;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	cursor:pointer;
	-moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}
.popup__setting_buttons-button{
	background: #FFFFFF;
}
.popup__setting_buttons-button:hover{
	background:#aeaeae;
}
.popup__setting_buttons-close{
	background:none;
}
.popup__setting_buttons-close:hover{
	background:#fff;
}